<template>
    <div>
        <section class="login-footer">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <p class="copyrights">Copyright @2021 Profession Net. All Rights Reserved.</p>

                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
