@font-face {
    font-family: 'nexa_boldregular';
    src: url('../fonts/nexa_bold-webfont.woff2') format('woff2'), url('../fonts/nexa_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'nexa_boldregular';
}

html {
    margin: 0px;
    padding: 0px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
    margin: 0px;
    padding: 0px;
}

button {
    outline: 0;
}

button:active {
    outline: 0;
}

button:visited {
    outline: 0;
}

button:focus {
    outline: 0;
}

p {
    font-size: 16px;
    color: #666666;
    line-height: 25px;
    margin: 0px;
    padding: 0 0 15px 0;
    font-family: 'nexa_boldregular';
}

h2 {
    background: url("../images/heading-bg.png") no-repeat;
    color: #333333;
    font-size: 40px;
    padding: 20px 0 0 20px;
    margin: 0 0 15px 0;
}

.main-btn {
    display: table;
    padding: 10px;
    color: #fff;
    margin-top: 15px;
    font-size: 15px;
    border-radius: 0px 15px 0 0;
    border: 1px solid #0e96ba;
    padding: 12px 20px;
    -webkit-box-shadow: 1px 1px 10px 0 #DEDEDE;
    box-shadow: 1px 1px 10px 0 #DEDEDE;
    background: #0e96ba;
}

.main-btn:hover {
    background: #fff;
    color: #000;
}

.img-full {
    width: 100%;
}

.top-section {
    background: #fff;
    position: relative;
    width: 100%;
}

.nav-home {
    width: 100%;
    padding: 15px 0px;
    position: absolute;
    z-index: 10;
}

.main-banner {
    background: url("../images/main-bg_01.png") no-repeat;
    position: relative;
    width: 100%;
    min-height: 730px;
    background-size: 100%;
}

.navbar {
    margin: 0;
    padding: 0;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
    border-bottom: 5px solid #fff;
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 17px;
    text-transform: capitalize;
    padding-left: 15px;
    padding-right: 15px;
    /* padding-top: 30px; */
    background: transparent;
    border: 0;
}

li.nav-item {
    position: relative;
}

ul.dropdown-menu.show li a {
    display: block;
    font-size: 14px;
    color: #fff;
}

ul.dropdown-menu.show li a:hover {
    color: #000;
}

ul.dropdown-menu.show li {
    padding: 6px 0px;
    border-bottom: 1px solid #6a5aff;
}

ul.dropdown-menu.show li:last-child {
    padding: 6px 0px 0px 0px;
    border-bottom: none;
}


/* header .navbar-expand-lg .navbar-nav .dropdown-menu{
        width: 900px;
       padding: .5rem;
    background: #fff;
   
} */

.btn-right {
    float: right;
    margin: 0 30px 0 0;
}

.navbar .nav li .dropdown-menu {
    padding: 0px;
    border: none;
    left: 230px;
    margin: 0 30px 0 0;
}


/* header .navbar-expand-lg .navbar-nav .dropdown-menu {
    width: 900px;
    padding: .5rem;
    background: #fff;
    left: -200px;
    top: 76px;
} */

.media-body,
.media-left,
.media-right {
    display: table-cell;
    vertical-align: top;
    padding-right: 10px;
}

.dropdown-menu li a h4 {
    transition: all 0.2s ease;
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 6px 0;
    color: #191c4d;
}

.btn-right a {
    float: right;
    padding: 10px;
    color: #000 !important;
    margin-top: 15px;
    font-size: 15px !important;
    border-radius: 0px 15px 0 0;
    border: 1px solid #0e96ba;
    padding: 12px 20px !important;
    -webkit-box-shadow: 1px 1px 10px 0 #DEDEDE;
    box-shadow: 1px 1px 10px 0 #DEDEDE;
    background: #fff;
}

.btn-right a:hover {
    background: #0e96ba;
    color: #fff !important;
    border: none !important;
}

.banner-content {
    margin: 222px 0 0 0;
}

.banner-content h1 {
    background: url("../images/banner-heading-bg_03.png") no-repeat;
    color: #fff;
    font-size: 45px;
    padding: 20px 0 0 20px;
    margin: 0 0 15px 0;
}

.banner-content p {
    color: #fff;
}

.upload-traning-sec {
    padding: 50px 0px;
    width: 100%;
}

.upload-traning-sec .boxs {
    margin: 10px 0px;
    text-align: center;
}

.upload-traning-sec .boxs p {
    color: #333333;
    font-size: 14px;
    margin: 10px 0px;
}

.crt-profile-btn {
    position: absolute;
    left: 150px;
    bottom: 50px;
}

.why-chose-sec {
    padding: 50px 0px;
    width: 100%;
}

.why-chose-sec ul {
    margin: 0px;
    padding: 0px;
    display: block;
}

.why-chose-sec ul li {
    margin: 0px;
    padding: 5px 0px 5px 25px;
    display: block;
    font-size: 15px;
    color: #666666;
    font-family: 'nexa_boldregular';
    background: url("../images/bulits_03.jpg") no-repeat left center;
}

.why-chose-sec-right {
    position: relative;
}

.why-chose-sec-right .img1 {
    position: relative;
    max-width: 100%;
    border-radius: 8px;
    z-index: 1;
}

.why-chose-sec-right:after {
    position: absolute;
    background: url("../images/gray-dots.png") no-repeat;
    left: -57px;
    top: 20px;
    content: "";
    width: 95px;
    height: 95px;
}

.why-chose-sec-right:before {
    position: absolute;
    background: url(../images/black-dots.png) no-repeat;
    right: -45px;
    top: 200px;
    content: "";
    width: 95px;
    height: 95px;
}

.why-chose-sec-right .img2 {
    position: absolute;
    max-width: 100%;
    bottom: -100px;
    right: 0;
    z-index: 1;
}

.why-chose-sec-right .main-btn {
    position: absolute;
    right: 50px;
    top: 50px;
    padding: 15px 30px;
    border-radius: 15px 0px 0 0;
    z-index: 2;
}

.details {
    background-image: url(../images/main-bg_04.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
    color: white !important;
}

.details h3 {
    border-bottom: 3px solid white;
}

.details p {
    color: white !important;
}

.chose-catgory-sec {
    width: 100%;
    padding: 50px 0px;
}

.chose-catgory-sec .item-boxs {
    box-shadow: 1px 1px 10px 0 #ccc;
    padding: 40px;
    margin: 10px;
    overflow: hidden;
    border-radius: 2px 15px 2px 2px;
}

.chose-catgory-sec .item-boxs span {
    position: absolute;
    width: 40px;
    height: 40px;
    color: #fff;
    background: #0e96ba;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    left: 10px;
    border-radius: 0px 0px 25px 0px;
}

.chose-catgory-sec .item-boxs h5 {
    font-size: 20px;
    color: #666666;
    text-align: center;
    position: relative;
}

.item-boxs h5::after {
    content: '';
    background: #1197bb;
    width: 50%;
    left: 0;
    right: 0;
    margin: 0px auto;
    height: 5px;
    bottom: -15px;
    position: absolute;
}

#testi .owl-nav.disabled {
    display: block !important;
    position: absolute;
    right: 0px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0px auto;
    text-align: right;
}

#testi button.owl-prev {
    background: url(../images/arrow_03.png) no-repeat;
    font-size: 0px;
    width: 67px;
    height: 66px;
    opacity: 1;
    position: absolute;
    left: -55px;
    top: 45px;
}

#testi button.owl-next {
    background: url(../images/arrow_05.png) no-repeat;
    font-size: 0px;
    width: 67px;
    height: 66px;
    opacity: 1;
    position: absolute;
    right: -70px;
    top: 45px;
}

.questions h5 {
    color: #999999;
    font-size: 45px;
}

.questions input,
.questions textarea,
.questions select {
    resize: none !important;
    padding: 30px 10px !important;
    border: 1px solid #e8f0f2 !important;
    border-right: none !important;
    border-radius: 5px 0px 0px 5px !important;
    color: #495057;
}

.questions .input-group-text {
    border-radius: 5px 20px 0px 5px !important;
    border: 1px solid #e8f0f2 !important;
    border-left: none !important;
    background-color: transparent !important;
    color: #0e96ba;
}

.blue-btn {
    background-color: #0e96ba !important;
    border: 2px solid #0e96ba !important;
    color: white;
    border-radius: 0 25px 0 0;
    padding: 15px 40px;
}

.grey {
    color: #999999 !important;
}

.cyan {
    color: #0e96ba !important;
}

.questions select {
    width: 100% !important;
    border-radius: 5px 20px 0px 5px !important;
    border-right: 1px solid #e8f0f2 !important;
    padding: 15px 10px !important;
    color: #495057;
}

.newsletter {
    background: url(../images/Profession-net-03_48.png) left center no-repeat;
    background-size: 95%;
    width: 100%;
    padding: 60px 0 30px 0px;
    position: relative;
}

.newsletter:before {
    position: absolute;
    background: url(../images/black-dots.png) no-repeat;
    right: 35px;
    bottom: -50px;
    content: "";
    width: 95px;
    height: 95px;
    z-index: -2;
}

.newsletter h2 {
    background: url(../images/banner-heading-bg_03.png) no-repeat;
    color: white !important;
}

.newsletter p {
    color: white !important;
}

.newsletter input {
    padding: 25px 10px;
    border: 0 !important;
}

.sub-btn {
    display: table;
    padding: 10px;
    color: #fff;
    margin-top: 0;
    font-size: 15px;
    border-radius: 5px 15px 5px 5px;
    border: 1px solid #0e96ba;
    padding: 12px 20px;
    -webkit-box-shadow: 1px 1px 10px 0 #DEDEDE;
    box-shadow: 1px 1px 10px 0 #DEDEDE;
    background: #0e96ba;
}

.newsletter-inner {
    width: 100%;
    border-radius: 5px 15px 5px 5px;
    background: #fff;
    padding: 15px;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 1px 1px 10px 0 #000;
    box-shadow: 1px 1px 10px 0 #000;
}

.job-seeker-sec {
    width: 100%;
    padding: 100px 0px 0px 0px;
}

.job-seeker-sec-inner {
    background: url(../images/globe_03.png) no-repeat center;
    background-size: 100%;
}

.job-box-usr {
    position: relative;
    left: 0;
    top: 82px;
    width: 300px;
    text-align: center;
}

.job-box-usr:nth-child(2) {
    left: 236px;
    top: 50px;
}

.job-box-usr:nth-child(3) {
    left: 155px;
    top: 141px;
}

.job-box-usr:nth-child(4) {
    left: 488px;
    top: -156px;
}

.job-box-usr:nth-child(5) {
    left: 650px;
    top: -300px;
}

.job-box-usr:nth-child(6) {
    left: 750px;
    top: -205px;
    /* float: right; */
}

.job-box-usr .text-box {
    background: #fff;
    box-shadow: 1px 1px 10px 0 #ccc;
    padding: 15px;
    margin: 10px;
    overflow: hidden;
    border-radius: 5px;
    text-align: center;
    display: none;
    position: absolute;
    z-index: 1;
}

.job-box-usr .text-box h5 {
    font-size: 20px;
    color: #0e96ba;
    text-align: center;
    position: relative;
    margin: 0 0 20px 0;
}

.job-box-usr .text-box p {
    font-size: 13px;
    color: #666666;
    line-height: 15px;
}

.job-box-usr .text-box h5::after {
    content: '';
    background: #1197bb;
    width: 80px;
    left: 0;
    right: 0;
    margin: 0px auto;
    height: 5px;
    bottom: -5px;
    position: absolute;
}


/* footer CSS */

.footer {
    overflow: hidden;
    padding: 100px 0px 0px 0px;
}

.footer-wrapper {
    background: url(../images/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    padding: 50px 280px;
}

p.footer_title {
    color: #fff;
    font-size: 22px;
    line-height: 45px;
}

ul.footer_links {
    list-style: none;
}

ul.footer_links li a {
    color: #fff;
    font-size: 18px;
    line-height: 45px;
}

.separator-1 {
    width: 75%;
    border-bottom: 1px solid #fff;
    margin: 40px 0px 30px 0px;
}

p.copyright {
    font-size: 18px;
    line-height: 45px;
    color: #fff;
    text-transform: capitalize;
}

.footer-left-wrap {
    justify-content: center;
    position: absolute;
    bottom: -50px;
    right: -250px;
    z-index: 10;
    background: url(../images/footer-pattern.png), #fff;
    background-repeat: no-repeat;
    background-size: cover;
    border: 6px solid #0d96ba;
    border-radius: 0% 50% 45% 45%;
    padding: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

ul.social_links {
    list-style: none;
    display: flex;
    margin-top: 20px;
}

ul.social_links li {
    padding: 0px 20px 0px 0px;
}

ul.social_links li a {
    color: #fff;
}

ul.social_links li a i.fa.fa-facebook {
    background: #3c5b9b;
}

ul.social_links li a i.fa.fa-twitter {
    background: #2daae2;
}

ul.social_links li a i.fa.fa-youtube-play {
    background: #fe3432;
}

ul.social_links li a i.fa.fa-linkedin {
    background: #0173b2;
}

ul.social_links li a i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    font-size: 30px;
}

img.dots {
    height: 100px;
    width: 100px;
    object-fit: contain;
    position: absolute;
    z-index: 2;
    top: 18px;
    right: 158px;
}

img.d2 {
    top: -76px;
    z-index: 1;
    right: 252px;
}


/* Footer CSS END */


/* nav-user css */

.nav-user {
    width: 100%;
    padding: 15px 0px;
    position: absolute;
    z-index: 10;
}

.nav-margin-left {
    margin-left: 200px;
}


/* nav-user end */


/* LOGIN PAGE CSS */

section.login-section {
    background: url(../images/nav-bg.png);
    padding: 245px 0px 100px 0px;
    background-repeat: no-repeat;
    background-size: 64% 72%;
    overflow: hidden;
}

form.login-form {
    background: #fff;
    padding: 100px 70px;
    border-radius: 50px 50px 0px 50px;
    box-shadow: 0px 0px 10px 0px #0e95b973;
    position: relative;
    z-index: 4;
}

.login-form h4 {
    color: #0e0303;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    line-height: 60px;
    text-transform: capitalize;
}

.login-form label,
.modal-content.recovery label {
    color: #807b7b;
    font-size: 15px;
    line-height: 22px;
}

.prof-input-login {
    font-size: 14px;
    line-height: 26px;
    color: #c9c8c8;
    height: 55px;
    border-radius: 5px 20px 0px 5px;
    box-shadow: 0px 0px 4px -2px #000000ad;
    border: 2px solid #ebe6e6;
}

input#email-login,
#email-recover {
    background: url(../images/envelope-icon.png);
    background-repeat: no-repeat;
    background-position: 96%;
    background-size: 29px 22px;
}

#verification-code {
    background: url(../images/verify.png);
    background-repeat: no-repeat;
    background-position: 96%;
    background-size: initial;
}

button.eye-pass {
    background: none;
    border: none;
    color: #d1d0d0;
    position: absolute;
    right: 15px;
    top: 48px;
}

a.small-link {
    color: #0e95b9;
    font-size: 16px;
    line-height: 25px;
    text-transform: capitalize;
    border-bottom: 1px solid;
}

.btn-profBlue {
    background: #0e95b9;
    font-size: 20px;
    color: #fff;
    line-height: 62px;
    width: 100%;
    height: 50px;
    display: flex;
    margin-bottom: 25px;
    border-radius: 5px 20px 0px 5px;
    justify-content: center;
    align-items: center;
}

.btn-profBlue:hover {
    color: #fff;
}

.wrap-right {
    margin-top: -50px;
    position: relative;
}

.wrap-right .dots {
    position: absolute;
}

.wrap-right img.gray-dots {
    right: -106px;
    z-index: 1;
    top: -45px;
}

.wrap-right img.black-dots {
    top: 50px;
    right: -200px;
    z-index: 2;
}

.wrap-right .lady {
    position: relative;
    z-index: 2;
}

p.copyrights {
    font-size: 18px;
    line-height: 45px;
    color: #2c2b2b;
}

section.login-footer {
    padding: 20px 0px 25px 0px;
    position: relative;
}

section.login-section::after {
    content: '';
    position: absolute;
    background-image: url(../images/map-bg.png);
    background-repeat: no-repeat;
    width: 770px;
    height: 500px;
    right: 0;
    bottom: 0;
}

.modal-content.recovery {
    border-radius: 30px 30px 0px 30px;
    padding: 100px 50px;
}

.modal-content.recovery .modal-header {
    border: 0;
    position: relative;
}

.modal-content.recovery .modal-header button.close {
    position: absolute;
    right: -50px;
    top: -100px;
    background: #0e95b9;
    opacity: 1;
    color: #fff;
    font-size: 35px;
    padding: 12px 20px;
    border-radius: 50px;
    border: 8px solid #fff;
}

.modal-content.recovery h4 {
    font-size: 34px;
    color: #0e0303;
    letter-spacing: -2px;
}

.modal-open .modal {
    padding: 0px !important;
}

span.forgot {
    color: #8e8e8e;
    font-size: 14px;
}

a.small-link.fp {
    font-size: 14px;
    border: 0;
}


/* LOGIN PAGE CSS END */


/* Register */

.nav-bg {
    background: url(../images/nav-bg.png);
    width: 66%;
    padding: 80px 0px;
    background-repeat: no-repeat;
    border-radius: 0 0 65px 0;
    background-size: cover;
}

section.register-section .card {
    border-radius: 50px 50px 0px 50px;
    padding: 30px;
    box-shadow: 0px 0px 3px 3px #00000008;
}

section.register-section {
    background: url(../images/map-bg.png);
    margin: 80px 0px;
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

p.rcard-p {
    text-transform: capitalize;
    font-size: 16px;
    color: #333333;
    line-height: 55px;
}

p.rcard-p a {
    color: #0e95b9;
}


/* STEP FORM */


/*form styles*/

#msform {
    width: 100%;
    margin: 10px auto;
    text-align: center;
    position: relative;
}

#msform fieldset {
    background: white;
    border: 0 none;
    padding: 20px 30px;
    box-sizing: border-box;
    /*stacking fieldsets above each other*/
    position: relative !important;
}


/*Hide all except first fieldset*/

#msform fieldset:not(:first-of-type) {
    display: none;
}


/*inputs*/

.iti__selected-flag:focus {
    outline: none;
}

#msform .reg-input,
#msform textarea,
#msform select {
    border: 2px solid #ebe6e6;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    line-height: 25px;
    font-size: 15px;
    color: #c9c8c8;
    height: 50px;
    border-radius: 5px 25px 0px 5px;
    -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.15);
    font-family: 'Jost';
}

#msform textarea {
    height: 200px;
    padding: 10px;
    resize: none;
}

#msform input::placeholder {
    color: #c9c8c8;
}

#msform button.btn.btn-outline-secondary.border-left-0 {
    border: 0;
    top: 6px;
    position: absolute;
    right: 0px;
    color: #ccc9c9;
}


/*buttons*/

#msform .action-button {
    background: #0e95b9;
    font-size: 20px;
    color: #fff;
    line-height: 62px;
    width: 250px;
    height: 64px;
    display: inline-flex;
    margin: 40px 0px 0px 10px;
    border-radius: 5px 20px 0px 5px;
    padding: 0;
    border: 0;
    justify-content: center;
    align-items: center;
}

input.previous.action-button {
    background: #999999 !important;
}

input:focus {
    outline: 0;
}


/*headings*/

.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
    text-align: left;
}


/*progressbar*/

#progressbar {
    overflow: hidden;
    counter-reset: step;
    width: 100%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

#progressbar li:last-child {
    margin-right: 0px !important;
}

#progressbar ul {
    padding-left: 0px !important;
}

#progressbar li {
    list-style-type: none;
    display: flex;
    text-transform: uppercase;
    font-size: 14px;
    width: 72px;
    float: left;
    position: relative;
    color: #09bad7;
    background: #82e9fa;
    border-radius: 10px 10px 0px 10px;
    margin: 0px 30px;
    height: 72px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 10px 2px rgb(0 183 213 / 38%);
    -moz-box-shadow: 0px 0px 10px 2px rgb(0 183 213 / 38%);
    box-shadow: 0px 0px 10px 2px rgb(0 183 213 / 38%);
}

#progressbar li.active {
    background: #00b7d5;
    color: #fff;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    font-size: 36px;
    line-height: 40px;
}


/*progressbar connectors*/

#progressbar li:after {
    content: '';
    width: 55%;
    height: 2px;
    background: transparent;
    position: absolute;
    left: -68%;
    top: 36px;
    z-index: 1;
    border: 1px dashed #82e9fa;
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

#msform .form-group {
    text-align: left;
    /* margin: 0; */
}

#msform .form-group label {
    font-size: 15px;
    line-height: 30px;
    color: #807b7b;
    margin: 0px;
    text-transform: capitalize;
}

p.reg-title {
    color: #333333;
    font-size: 36px;
    line-height: 55px;
}

#progressbar li.active:after {
    border-color: #00b7d5;
}

.form-control:focus {
    color: #495057;
    background-color: transparent;
    border-color: #ebe6e6;
    outline: 0;
    box-shadow: none;
}

.gj-picker-bootstrap table tr td.selected.gj-cursor-pointer div {
    color: #fff;
    background-color: #00b7d5;
    border-color: #00b7d5;
    border-radius: 10px 10px 0px 10px;
}

.gj-picker-bootstrap {
    border: 1px solid #17a2b8;
    border-radius: 20px 20px 0px 20px;
}

textarea:focus {
    outline: 0 !important;
}

.pass-wrap button.eye-pass {
    right: 20px;
    top: 42px;
}

.pckg_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: url('../images/top-bg-pckg.png'), url('../images/pckg-dots.png') left 12%, url('../images/bg-bot-pckg.png') bottom right;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    border-radius: 0px 30px 0px 0px;
    background-repeat: no-repeat;
    transition: 300ms all ease-in-out;
    margin-top: 20px;
}

.pckg_wrapper:hover {
    transform: scale(1.1);
}

p.pckg-title {
    color: #333333;
    font-size: 22px;
    line-height: 50px;
    text-transform: capitalize;
}

p.pckg_price {
    font-size: 36px;
    line-height: 50px;
    color: #00b7d5;
    margin-top: 10px;
    font-weight: bold;
    padding: 0;
}

p.pckg_price sup {
    top: -12px;
    font-size: 20px;
    left: 4px;
}

p.pckg_meta {
    color: #333333;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    padding-bottom: 20px;
    font-family: 'Jost';
}

ul.pckg_items {
    list-style: none;
    text-align: left;
    padding-left: 20px;
}

.pckg_items li {
    color: #6e6c6c;
    font-size: 16px;
    font-family: 'Jost', sans-serif;
    position: relative;
    padding-bottom: 10px;
}

.pckg_items li::before {
    content: '';
    background-image: url(../images/Profession-net-03_52.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    left: -25px;
    background-size: cover;
    z-index: 2;
}


/* The container */

.check-container {
    display: block;
    position: relative;
    padding-left: 28px;
    margin: 20px 0px 10px 0px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333333;
    font-family: 'Jost';
    line-height: 20px;
}


/* Hide the browser's default radio button */

.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */

.check-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #000;
}


/* On mouse-over, add a grey background color */

.check-container:hover input~.check-checkmark {
    background-color: #fff;
}


/* When the radio button is checked, add a blue background */

.check-container input:checked~.check-checkmark {
    background-color: #fff;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.check-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.check-container input:checked~.check-checkmark:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.check-container .check-checkmark:after {
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #0e95b9;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}


/* END STEP FORM */


/* user landing screen */

img.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
}

span.user-name {
    color: #000;
    font-size: 15px;
    line-height: 19px;
    padding-left: 10px;
}

a.dropdown-toggle.nav-link.dropdown-user-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-toggle::after {
    color: #000;
    border: 0;
    margin-left: 0;
    vertical-align: .255em;
    position: absolute;
    content: "\f107";
    font-family: 'FontAwesome';
    right: -5px;
    top: 25px;
    font-size: 18px;
    font-weight: 600;
}

.dropdown-user-link {
    border: 0 !important;
    color: #000;
}

li.dropdown.dropdown-user.nav-item.user_dropdown.show .dropdown-menu.dropdown-menu-right.user-dd.show {
    right: -30px;
}

a.notifications {
    color: #333333;
    font-size: 18px;
}

.user-home {
    background: url(../images/map-bg.png);
    margin: 80px 0px;
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

.user-home .card {
    border-radius: 50px 50px 0px 50px;
    padding: 30px;
    box-shadow: 0px 0px 3px 3px #00000008;
    background: #f9fcfd;
}

form.form-filter {
    padding: 20px;
    background: #0e96ba;
    border-radius: 15px 15px 0px 15px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(14, 150, 186, 0.2);
    -moz-box-shadow: 0px 0px 10px 5px rgba(14, 150, 186, 0.2);
    box-shadow: 0px 0px 10px 5px rgba(14, 150, 186, 0.2);
}

form.form-filter label {
    color: #fff;
    display: block;
}

.fil-input {
    background: transparent;
    border-radius: 10px 10px 0px 10px;
    border: 2px solid #fff;
    color: #fff !important;
    font-size: 15px;
    height: 45px;
}

.fil-input::placeholder {
    color: #fff;
    font-size: 15px;
}

input.search-job {
    color: #0e96ba;
    font-size: 16px;
    border: 0;
    background: #fff;
    width: 100%;
    padding: 10px 0px;
    border-radius: 10px 10px 0px 10px;
}

.fil-input option {
    color: #000;
}

.u_wrap {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.u_wrap span {
    padding-right: 8px;
    font-family: 'Jost';
    font-size: 14px;
    font-weight: 600;
    color: #666666;
}

.u_wrap label {
    margin: 0;
    position: absolute;
    top: 10px;
    color: #666666;
    font-family: 'Jost';
    font-size: 14px;
    font-weight: 600;
}

.f-dp {
    margin-top: 5px;
    border: 2px solid #ebe6e6;
    box-sizing: border-box;
    line-height: 25px;
    font-size: 15px;
    color: #c9c8c8;
    height: 50px;
    border-radius: 10px 10px 0px 10px !important;
}

.u_wrap .inner {
    margin-right: 10px;
}

.u_wrap .inner button.btn.btn-outline-secondary.border-left-0 {
    border: 0;
    top: 11px;
    position: absolute;
    right: 20px;
    color: #ccc9c9;
}

a.filter-by {
    background: #999999;
    font-family: 'Jost';
    color: #ffff;
    font-size: 14px;
    padding: 15px 30px;
    border-radius: 10px 10px 0px 10px;
    width: 100%;
    display: inline-block;
    text-align: center;
    -webkit-box-shadow: 0px 0px 59px 10px rgba(106, 100, 100, 0.15);
    -moz-box-shadow: 0px 0px 59px 10px rgba(106, 100, 100, 0.15);
    box-shadow: 0px 0px 59px 10px rgba(106, 100, 100, 0.15);
}

.comp-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 20px 85px;
    border-radius: 30px 30px 0px 30px;
    -webkit-box-shadow: 0px 0px 59px 10px rgba(106, 100, 100, 0.15);
    -moz-box-shadow: 0px 0px 59px 10px rgba(106, 100, 100, 0.15);
    box-shadow: 0px 0px 59px 10px rgba(106, 100, 100, 0.15);
    border: 1px solid #fff;
    position: relative;
    margin-top: 20px;
}

.comp-card img {
    border: 2px solid #0e95b9;
    border-radius: 10px 30px 0px 10px;
    background: #fff;
    position: relative;
    height: 100px;
    width: 100px;
}

p.company-title {
    padding: 0;
    margin: 10px 0px;
    color: #0e96ba;
    line-height: 30px;
    font-size: 22px;
}

.inner-card {
    width: 360px;
    margin: 10px auto;
    display: table;
}

.inner-card p {
    font-size: 15px;
    line-height: 25px;
    display: flex;
    align-items: center;
}

.inner-card p i {
    color: #0e95b9;
    font-size: 18px;
    /* font-weight: bold; */
    padding-right: 10px;
}

.comp-card .dropdown .dropdown-toggle::after {
    display: none;
}

.drop-wrap {
    position: absolute;
    right: 40px;
    cursor: pointer;
}

.drop-wrap p.dropdown-toggle {
    font-size: 22px;
    color: #999999;
}

.drop-wrap .dropdown .dropdown-menu.show {
    left: -45px !important;
    border-radius: 0px 30px 0px 0px !important;
    border: 0;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
}

.drop-wrap .dropdown .dropdown-menu.show:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    top: -10px;
    left: 42px;
}

p.system-msg {
    font-size: 18px;
    color: #4e4e4e;
    line-height: 25px;
    margin-top: 10px;
    text-transform: capitalize;
}

a.btn-cv.black {
    background: #302c2c;
}

a.btn-sys {
    color: #fff;
    background: #0e95b9;
    text-transform: capitalize;
    padding: 14px 40px;
    display: inline-block;
    border-radius: 10px 25px 0px 10px;
    font-size: 18px;
}

.expiry-alert {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    background: #f0250c;
    color: #fff;
    margin-top: 20px;
    -webkit-box-shadow: 0px 0px 26px 21px rgba(240, 37, 12, 0.15);
    -moz-box-shadow: 0px 0px 26px 21px rgba(240, 37, 12, 0.15);
    box-shadow: 0px 0px 26px 21px rgba(240, 37, 12, 0.15);
}

.expiry-alert p {
    padding: 0px 0px 0px 15px;
    color: #fff;
    font-family: 'Jost';
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
}

.expiry-alert i {
    font-size: 18px;
}

a.btn-sys.btn-grey {
    background: #999999;
}

div#training-popup .modal-body {
    padding: 40px 0px;
}

div#training-popup .modal-body a.btn-sys {
    text-transform: uppercase;
    font-size: 15px;
    padding: 20px;
}

div#filter-popup .modal-header p {
    color: #000;
    font-size: 25px;
}

.filter-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.w-2 {
    flex: 2;
}

.w-1 {
    flex: 1;
    margin: 0 10px 0 10px;
}

.w-1:last-child {
    margin: 0 0 0 10px;
}

.card-header.filter-h {
    background: #0e95b9;
    text-transform: capitalize;
    font-size: 18px;
    border-radius: 10px 10px 0px 0px;
    padding: 15px;
}

.filter-wrapper .card {
    border-radius: 10px 10px 0px 10px !important;
}

.card-body.filter-body {
    border-top: 0px;
}


/* The container */

.container-filter {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default checkbox */

.container-filter input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark-filter {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #d0caca;
    border-radius: 5px;
}


/* On mouse-over, add a grey background color */

.container-filter:hover input~.checkmark-filter {
    background-color: #fff;
}


/* When the checkbox is checked, add a blue background */

.container-filter input:checked~.checkmark-filter {
    background-color: #ffffff;
}


/* Create the checkmark-filter/indicator (hidden when not checked) */

.checkmark-filter:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark-filter when checked */

.container-filter input:checked~.checkmark-filter:after {
    display: block;
}


/* Style the checkmark-filter/indicator */

.container-filter .checkmark-filter:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #0e95b9;
    border-width: 0px 2px 2px 0px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

label.container-filter {
    color: #666666 !important;
    font-family: 'Jost';
    font-size: 18px !important;
    font-weight: 500;
    line-height: 22px !important;
    text-transform: capitalize;
}

.row.break {
    flex-basis: 100%;
}


/* CV Page */

.search-wrapper {
    position: relative;
    width: 50%;
    margin: 0px auto 25px auto;
    display: flex;
    align-items: center;
}

input.cv-input {
    width: 100%;
    height: 60px;
    border: 0;
    border-radius: 10px 0px 0px 0px;
    -webkit-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.15);
    padding: 0px 10px;
}

input.cv-submit {
    background: #0e95b9;
    color: #fff;
    right: 5px;
    padding: 10px 50px;
    height: 80%;
    border: 8px solid #fff;
    border-radius: 0px 20px 0px 0px;
}

.cv-card {
    display: flex;
    align-items: center;
    padding: 30px;
    background: #f9fcfd;
    border: 5px solid #fff;
    border-radius: 20px 40px 0px 20px;
    -webkit-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.15);
}

.cv-card .right {
    padding: 10px 0px 0px 20px;
}

.cv-card {
    display: flex;
    align-items: center;
    padding: 20px;
    background: #f9fcfd;
    border: 5px solid #fff;
    border-radius: 20px 40px 0px 20px;
    -webkit-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.15);
}

.cv-card .right {
    padding: 10px 0px 0px 20px;
}

.cv-card .right h3 {
    font-size: 22px;
    line-height: 30px;
    color: #d0d2d2;
}

.cv-card .right p {
    font-size: 17px;
    line-height: 24px;
    color: #848585;
    font-family: 'Jost';
}

.cv-card .right a.cv-button {
    background: #d0d2d2;
    color: #fff;
    font-size: 16px;
    padding: 15px 30px;
    display: inline-block;
    border-radius: 5px 20px 0px 5px;
    text-transform: capitalize;
    -webkit-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.15);
}

.cv-card .left img {
    width: 434px;
    height: 279px;
    object-fit: cover;
    object-position: center;
}

.cv-card.active h3 {
    color: #0e96ba;
}

.cv-card.active a.cv-button {
    background: #0e95b9;
}

.container-cv {
    display: block;
    position: absolute;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    right: 25px;
    bottom: 25px;
}


/* Hide the browser's default checkbox */

.container-cv input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark-cv {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #d0d2d2;
    border-radius: 5px;
}


/* On mouse-over, add a grey background color */

.container-cv:hover input~.checkmark-cv {
    background-color: #d0d2d2;
}


/* When the checkbox is checked, add a blue background */

.container-cv input:checked~.checkmark-cv {
    background-color: #03bb03;
}


/* Create the checkmark-cv/indicator (hidden when not checked) */

.checkmark-cv:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark-cv when checked */

.container-cv input:checked~.checkmark-cv:after {
    display: block;
}


/* Style the checkmark-cv/indicator */

.container-cv .checkmark-cv:after {
    left: 8px;
    top: 3px;
    width: 8px;
    height: 16px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.package-m .modal-content.recovery .modal-body {
    padding: 0;
}

.package-m .modal-content.recovery .modal-body a.btn-sys {
    padding: 15px 10px;
    width: 100%;
    text-align: center;
}


/* The container */

.w_container {
    display: block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default radio button */

.w_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */

.w_checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #838383;
    border-radius: 50%;
}


/* On mouse-over, add a grey background color */


/* .w_container:hover input ~ .w_checkmark {
    background-color: #ccc;
  } */


/* When the radio button is checked, add a blue background */

.w_container input:checked~.w_checkmark {
    background-color: #fff;
    border-color: #0e95b9;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.w_checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.w_container input:checked~.w_checkmark:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.w_container .w_checkmark:after {
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #0e95b9;
}

div#purchase_upgrade .wrap,
div#change_package .wrap {
    display: flex;
    justify-content: center;
}

div#purchase_upgrade .wrap label.w_container,
div#change_package .wrap label.w_container {
    margin: 10px 10px;
}

.w_container input:checked~span {
    color: #0e95b9;
}

div#purchase_upgrade .wrap label.w_container span,
div#change_package .wrap label.w_container span {
    font-family: 'Jost';
    font-size: 20px;
    color: #4e4e4e;
}

p.smal-msg {
    font-size: 15px;
    color: #807b7b;
    padding: 0;
}

p.small-amnt {
    font-size: 15px;
    font-family: 'Jost';
    color: #c9c8c8;
}

div#purchase_upgrade a.btn-sys {
    padding: 15px 25px;
}

div#card_details label {
    margin: 0px 0px 5px 0px;
}

.modal-reg-input {
    border: 2px solid #ebe6e6;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    line-height: 25px;
    font-size: 15px;
    color: #c9c8c8;
    height: 50px;
    border-radius: 10px 10px 0px 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.modal-reg-input::placeholder {
    color: #c9c8c8;
    font-family: 'Jost';
    font-size: 15px;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active {
    background: transparent;
}

div#card_details button.btn.btn-outline-secondary.border-left-0 {
    border: 0;
    top: 6px;
    position: absolute;
    right: 0px;
    color: #ccc9c9;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}

div#card_details .form-group {
    margin: 0;
}

.modal-pay {
    background: #0e95b9;
    font-size: 20px;
    color: #fff;
    line-height: 62px;
    height: 55px;
    display: inline-flex;
    margin: 20px 0px 0px 0px;
    border-radius: 5px 20px 0px 5px;
    padding: 0;
    border: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
}

p.system-msg-bold {
    font-size: 26px;
    line-height: 35px;
    color: #000;
    margin-top: 15px;
    padding: 0;
}

div#update_success .modal-body {
    padding: 0;
}


/* CREATE CV PAGE */

p.page-heading {
    font-size: 36px;
    color: #333333;
    line-height: 55px;
    text-transform: capitalize;
}

.card-header.cv-header {
    background: #0e95b9;
    text-align: left;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header.cv-header p {
    color: #fff;
    font-size: 24px;
    line-height: 55px;
    padding: 0;
}

.card-header.cv-header i {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

div#accordion .card-header {
    cursor: pointer;
}

.card.cv-create-card {
    border-radius: 60px 60px 0px 60px;
    border: 0;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

#msform input::placeholder {
    font-family: 'Jost';
    color: #c9c8c8;
    font-size: 15px;
    font-weight: 500;
}

.iti {
    display: block !important;
}

.iti input#phone {
    width: 88%;
    margin-left: auto;
    padding: 10px;
}

.iti__flag-container {
    background: #fff;
    border: 2px solid #ebe6e6;
    border-radius: 10px 20px 0px 10px;
    -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.15);
}

.iti__selected-flag {
    border-radius: 10px 20px 0px 10px;
}

.br-0 {
    border-radius: 0 !important;
}

.form-check label.form-check-label {
    font-family: 'Jost';
}

.form-check .form-check-input {
    margin-top: 8px;
}

.btn-wrap {
    text-align: left;
}

.btn-wrap a {
    display: flex;
    align-items: center;
}

.btn-wrap a i {
    background: #0e95b9;
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px 20px 0px 5px;
    font-size: 20px;
}

.btn-wrap a span {
    color: #0e95b9;
    padding-left: 10px;
    text-decoration: underline;
}

span.select2-selection.select2-selection--multiple {
    border: 2px solid #ebe6e6;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    line-height: 25px;
    font-size: 15px;
    color: #c9c8c8;
    min-height: 50px;
    border-radius: 5px 25px 0px 5px;
    -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.15);
    font-family: 'Jost';
}


/* .select2-container{
    min-width: 100% !important;
} */

span.select2-selection.select2-selection--multiple:focus {
    outline: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 2px solid #ebe6e6;
}

ul#select2-sub-results {
    position: absolute;
    width: 100%;
    z-index: 10;
    background: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e2e2e2;
    border: 1px solid transparent;
    border-radius: 10px 10px 0px 10px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
    color: #5c5e5f;
    font-family: 'Jost';
    margin-right: 15px;
    position: relative;
}

span.select2-selection__choice__remove {
    position: absolute;
    top: -4px;
    right: -10px;
    background: #ff0000;
    color: #fff !important;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 0px;
    font-size: 12px;
    margin: 0px !important;
    padding-bottom: 2px;
}

.gray {
    background: #999999;
}

.bloo {
    background: #0e95b9;
}

a.btn-cv {
    color: #fff;
    padding: 15px 40px;
    display: inline-block;
    margin-bottom: 40px;
    border-radius: 5px 20px 0px 5px;
    margin-right: 20px;
}

.button_wrap {
    margin-top: 40px;
}

.card-body.cv-card-body {
    position: relative;
    padding: 20px 45px;
}

a.delete {
    position: absolute;
    top: 10px;
    right: 40px;
    font-size: 24px;
    color: #ff0000;
}

p.reg-p {
    color: #807b7b;
    font-size: 15px;
    line-height: 30px;
    padding: 0;
}

label.c-light {
    color: #b2b2b2 !important;
    line-height: 25px !important;
}

span.cv-tags {
    font-size: 15px;
    line-height: 25px;
    color: #5c5e5f;
    background: #e2e2e2;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 5px 10px 0px 5px;
    margin-top: 5px;
}

span.lng-tag {
    font-size: 15px;
    color: #807b7b;
    line-height: 30px;
    margin-top: 5px;
}

a.back-a {
    color: #000;
    font-family: 'Jost';
    font-size: 18px;
    font-weight: 600;
}

a.trash-a {
    font-size: 40px;
    color: #ff0000;
}

.nav-wrap {
    margin-left: 60px;
}

section.create-cv {
    background: url(../images/map-bg.png);
    background-repeat: no-repeat;
    background-position: 100% 20%;
}


/* CREATE CV PAGE */


/* ================ VIEW JOB =============== */

.job-head p.page-heading {
    margin: 0px auto;
}


/* The container */

.apply_container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Hide the browser's default radio button */

.apply_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */

.apply_checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #000;
}


/* On mouse-over, add a grey background color */

.apply_container:hover input~.apply_checkmark {
    background-color: #fff;
}


/* When the radio button is checked, add a blue background */

.apply_container input:checked~.apply_checkmark {
    background-color: #fff;
    border-color: #0e95b9;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.apply_checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.apply_container input:checked~.apply_checkmark:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.apply_container .apply_checkmark:after {
    top: 5px;
    left: 5px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #0e95b9;
    padding: 4px;
}

p.apply_heading {
    font-size: 34px;
    color: #000;
    line-height: 1.1;
}

textarea.cover__letter {
    padding: 10px;
    width: 100%;
    border: 1px solid #ebe6e6;
    resize: none;
    border-radius: 6px 25px 6px 6px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.radio__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.apply_container input:checked~span.text {
    color: #0f95b9;
}

span.span-upload {
    font-size: 15px;
    line-height: 30px;
    color: #807b7b;
    text-transform: capitalize;
}

.up_p {
    cursor: pointer;
    /* Style as you please, it will become the visible UI component. */
}

#upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

label.up_p .wrapper {
    background: #f8f8f8;
    padding: 20px 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    border: 1px solid #ebe9e9;
    border-radius: 10px;
}

label.up_p .wrapper p {
    padding: 0;
    font-size: 14px;
    font-family: 'Jost';
    line-height: 26px;
    font-weight: 600;
}

label.up_p .wrapper i.fa.fa-upload {
    font-size: 28px;
    color: #a4a4a4;
}


/* ================ VIEW JOB END =========== */

p.tp_text {
    font-family: 'Jost';
    font-weight: 600;
}

a.book_tp {
    background: #0e95b9;
    color: #fff;
    padding: 15px 50px;
    display: inline-block;
    border-radius: 6px 25px 0px 6px;
    position: absolute;
    bottom: -56px;
    left: 50%;
    transform: translateX(-50%);
}

.comp-card.tp_card {
    margin-bottom: 50px;
}

.comp-card.tp_card.booked .overlay {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: #0e95b9d1;
    top: 0;
    border-radius: 30px 30px 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comp-card.tp_card.booked .overlay p {
    padding: 0;
    font-family: 'Jost';
    font-size: 30px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 500;
}

div#book_training button.btn.btn-outline-secondary.border-left-0 {
    border: 0;
    top: 6px;
    position: absolute;
    right: 0px;
    color: #ccc9c9;
}

p.m_msg {
    text-transform: capitalize;
}


/* ================ DATATABLE =====================*/

.page-item:last-child .page-link:hover,
.page-item:first-child .page-link:hover {
    background: black;
    color: white;
}

div.dataTables_wrapper div.dataTables_length select {
    background: url("../images/ar-3.png") no-repeat;
    background-position: 85% 6px;
    border-radius: 6px 12px 0px 6px;
    background-color: #fff;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 5px 10px 0px 10px;
    margin: 0px 10px;
}

div.dataTables_wrapper div.dataTables_filter label {
    font-size: 0;
    position: relative;
}

.dataTables_filter label:after {
    content: "\f002";
    font-family: "FontAwesome";
    font-weight: 600;
    position: absolute;
    right: 15px;
    font-size: 15px;
    color: #0e95b9;
    top: 10px;
    bottom: 0;
    display: inline-flex;
    align-items: center;
}

div.dataTables_wrapper div.dataTables_filter input {
    height: 40px;
    min-width: 300px;
    border-radius: 0;
    border-radius: 4px 20px 0px 4px;
}

.table-bordered th {
    border: 0;
    padding: 20px 0 !important;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    top: 20px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    bottom: 10px;
}

.btn-group.mr-1.mb-1 {
    margin: 0 !important;
}

button.btn.btn-drop-table.btn-sm {
    padding: 0;
    margin: 0;
    color: #9f9f9f;
    background: transparent;
    font-size: 16px;
    box-shadow: none;
}

table.dataTable td:last-child {
    text-align: left;
    padding: 20px 70px 20px 20px !important;
    text-transform: capitalize;
}

table .dropdown-menu {
    margin: 0;
    min-width: 80px;
    border: 0;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, .1);
    border-radius: 5px;
}

table .dropdown-item {
    font-size: 13px;
    color: #666666;
    padding: 0 10px;
    font-family: 'Poppins', sans-serif;
}

table .dropdown-item:hover {
    background: white;
    color: #0e95b9;
}

table .dropdown-item i {
    margin: 0 6px 0 0;
}

.dataTables_wrapper .row~.row .col-sm-12.col-md-5 {
    display: block;
    overflow: initial;
}

.dataTables_wrapper .row~.row .col-sm-12:nth-child(1) {
    display: block;
    width: 100%;
    overflow-x: auto;
    padding: 0 20px;
}

table tbody tr td::first-letter {
    text-transform: capitalize;
}

.dataTables_length {
    margin: 20px 0 0 0;
    text-transform: capitalize;
    font-size: 13px;
    color: #666666;
}

div.dataTables_wrapper div.dataTables_filter input {
    box-shadow: none;
    margin: 10px 0 0 10px;
    padding: 0 35px 0 15px !important;
}

button.btn.btn-drop-table.btn-sm:focus {
    outline: none !important;
    box-shadow: none;
}

table#DataTables_Table_0 {
    width: 100%;
    border-spacing: 0 15px;
    padding: 0 7px 0 10px;
}

div#DataTables_Table_0_info {
    padding: 0;
    margin: 16px 0 0 0;
    font-size: 14px;
    color: #000;
    font-family: 'Jost';
    text-transform: capitalize;
    font-weight: 600;
}

.page-item.disabled .page-link {
    border-color: #221f1f;
}

.page-item .page-link:hover {
    background: #0e95b9 !important;
    color: white !important;
    border-radius: 4px 20px 0px 4px;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
    min-width: 100px;
    text-align: center;
    background: white;
}

.page-item.active .page-link {
    background: #0e95b9;
    border-color: black;
    color: white;
}

.page-item.disabled .page-link.next a {
    border-top: 0px !important;
}

li.paginate_button.page-item.next.disabled a {}

.page-item .page-link {
    border: 1px solid #f6f6f6 !important;
    padding: 10px 15px;
    color: #c1c1c1;
}

.page-item:last-child .page-link {
    color: #0e95b9;
}

.page-item:first-child .page-link {
    color: #0e95b9;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0px;
}

.page-item.active .page-link:hover {
    background: #0e95b9;
}

.maain-tabble tbody tr {
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, .14);
    border-radius: 5px;
    background-color: #fff;
}

.payment-log .maain-tabble {
    margin: 30px 0 0 0;
}

td.dataTables_empty {
    text-align: center !important;
}

.maain-tabble .table thead th {
    border-bottom: 0px solid transparent;
}

.maain-tabble .table td,
.maain-tabble .table th {
    border-top: 0px solid transparent;
}

.table thead th:last-child {
    text-align: right;
}

.maain-tabble table thead tr {
    /* background-color: transparent !important; */
    /* box-shadow: 0 0 20px 6px rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06); */
    /* border-top: 0; */
    /* border-radius: 100px; */
}

.maain-tabble .table thead th:first-child {
    padding-left: 30px;
}

.maain-tabble .table td:first-child,
.o-wallet .table td:first-child {
    padding-left: 30px !important;
    padding-bottom: 0 !important;
}

.maain-tabble table tbody tr td {
    color: #666666;
    font-size: 12px;
    padding: 0 20px 0 10px !important;
    font-family: 'Jost';
    vertical-align: middle !important;
    font-weight: 600;
}

.maain-tabble .table thead th {
    vertical-align: bottom;
    border-bottom: none !important;
    border-top: none !important;
    color: #000000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    text-align: start;
    padding: 20px 10px 10px 10px;
    font-family: 'Jost';
}

.maain-tabble .table-bordered td {
    padding: 20px 0 0 0 !important;
    border: 0;
}

.maain-tabble table {
    width: 100%;
    border-spacing: 0 26px;
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}

span.circle {
    color: white;
    display: inline-block;
    margin: -12px 10px 0 0;
    text-align: center;
    padding: 7px 0px 0 1px;
    width: 25px;
    border-radius: 100px;
    height: 25px;
}

.maain-tabble td.dataTables_empty {
    padding: 20px 0 21px 0;
}

.pagination .page-item.disabled .page-link {
    color: #0e95b9;
    font-weight: 500;
}

li.paginate_button.page-item.active a.page-link {
    background: #0e95b9;
    box-shadow: none !important;
    border-radius: 4px 20px 0px 4px;
}

.green {
    color: #1bcd27 !important;
}

.red {
    color: red !important;
}

.mustard {
    color: #bbc205 !important;
}

.table thead th:last-child:before {
    display: none;
}

.table thead th:last-child:after {
    display: none;
}

.reg-input {
    border-radius: 6px 15px 0px 6px !important;
}

span.input-group-append {
    background: transparent;
    border: 0;
}

button.btn.btn-outline-secondary.border-left-0 {
    border: 0;
    position: absolute;
    right: 0;
}

.data-span {
    padding-right: 8px;
    font-family: 'Jost';
    font-size: 14px;
    font-weight: 600;
    color: #666666;
    margin-top: 15px;
    display: inline-block;
}

.reg-sel {
    border-radius: 8px 25px 0px 0px;
    padding: 0px 10px;
    background-position: 95% 15px !important;
    font-size: 14px;
    font-family: 'Jost';
    font-weight: 600;
    color: #cccccc;
    border: 1px solid;
    background: url('../images/ar-down.jpg') no-repeat;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}


/*================= DT END ========================*/


/*============== Pay Logs ======================== */

.pay-logs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border: 0;
}

.pay-logs li.nav-item a {
    border: 0;
    border-bottom: 2px solid #ebebeb;
    font-family: 'Jost';
    font-size: 18px;
    font-weight: 600;
    color: #000;
}

.pay-logs li.nav-item a.active {
    border-bottom: 2px solid #0e95b9;
    color: #0e95b9;
}

.sub_meta_wrap {
    display: flex;
    justify-content: space-between;
}

.sub_meta_wrap .wrap p.top {
    padding: 0;
    font-family: 'Jost';
    color: #b2b2b2;
    font-size: 15px;
    font-weight: 500;
}

.sub_meta_wrap .wrap p.bot {
    padding: 0;
    color: #807b7b;
    font-size: 15px;
}

a.change-pckg {
    font-size: 18px;
    background: #0e96ba;
    color: #fff;
    border-radius: 6px 25px 0px 6px;
    padding: 15px 20px;
    margin-left: auto;
    display: table;
    text-transform: capitalize;
}

p.msg__txt {
    text-transform: capitalize;
}


/* The container */

.container-auto {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #777777;
    font-family: 'Jost';
}


/* Hide the browser's default checkbox */

.container-auto input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark-auto {
    position: absolute;
    top: 4px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 3px;
}


/* On mouse-over, add a grey background color */

.container-auto:hover input~.checkmark-auto {
    background-color: #fff;
}


/* When the checkbox is checked, add a blue background */

.container-auto input:checked~.checkmark-auto {
    background-color: #2196F3;
    border-color: #2196f3;
}


/* Create the checkmark-auto/indicator (hidden when not checked) */

.checkmark-auto:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark-auto when checked */

.container-auto input:checked~.checkmark-auto:after {
    display: block;
}


/* Style the checkmark-auto/indicator */

.container-auto .checkmark-auto:after {
    left: 4px;
    top: 2px;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkbox_wrap {
    margin-top: 10px;
}

div#change_package .modal-content.recovery {
    padding: 100px 50px;
}

div#change_package button.close {
    top: -100px;
}

#payment_pckg button.btn.btn-outline-secondary.border-left-0 {
    border: 0;
    top: 6px;
    position: absolute;
    right: 0px;
    color: #ccc9c9;
}

p.status_job {
    font-family: 'Jost';
    font-size: 15px;
    font-weight: 600;
    color: #000;
    padding: 0;
}


/*============== Pay Logs End =================== */


/* nav */

.user-dd a.dropdown-item {
    font-family: 'Jost';
    font-size: 15px;
    color: #666666;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.user-dd a.dropdown-item i {
    padding-right: 10px;
}

.user-dd a.dropdown-item:active {
    background: #0e95b9;
    color: #fff;
}

.user-dd a:first-child:hover {
    background: #0e95b9;
    color: #fff;
    border-radius: 0px 40px 0px 0px;
}

.user-dd a:last-child:hover {
    border-radius: 0px 0px 0px 10px;
}

.user-dd a:hover {
    background: #0e95b9;
    color: #fff;
}

.dropdown-menu.dropdown-menu-right.user-dd.show {
    padding: 0;
    border-radius: 10px 40px 0px 10px;
}

.user-dd a.dropdown-item:last-child {
    border: 0;
}


/* ============= OFFCANVAS ===================== */


/* @keyframes hover {
    50% {
        transform: translateX(10px);
    }
} */

.offcanvas-menu>label {
    top: 50%;
    right: 30px;
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
    display: flex;
    align-items: center;
    z-index: 9999;
    transform: translateY(-50%);
}

.offcanvas-menu label span,
.offcanvas-menu label span::before,
.offcanvas-menu label span::after {
    transition: background 0.3s, transform 0.3s;
}

.offcanvas-menu label span,
.offcanvas-menu label span::before,
.offcanvas-menu label span::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 40px;
    background: #000;
}

.offcanvas-menu label span::before {
    transform: translateY(-12px);
}

.offcanvas-menu label span::after {
    transform: translateY(12px);
}

.offcanvas-menu nav {
    position: fixed;
    height: 100%;
    width: 350px;
    left: -350px;
    overflow: scroll;
    background: #0e95b9;
    transition: 0.3s ease;
    padding: 40px 20px;
    top: 0;
}

.offcanvas-menu nav>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offcanvas-menu nav>div a {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    font-family: 'nexa_boldregular';
}

.offcanvas-menu nav>div a i {
    font-size: 4rem;
}

.offcanvas-menu nav>div label {
    width: 30px;
    height: 30px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
}

.offcanvas-menu nav>div label span,
.offcanvas-menu nav>div label span:before,
.offcanvas-menu nav>div label span:after {
    background: #fff;
}

.offcanvas-menu nav>ul {
    margin-top: 0;
    counter-reset: nav-link-count;
}

.offcanvas-menu nav>ul li {
    cursor: pointer;
    padding: 10px 0;
    transform: translateX(-30px);
    opacity: 0;
    transition: 0.4s ease;
    counter-increment: nav-link-count;
    list-style: none;
}

.offcanvas-menu nav>ul li a {
    font-size: 20px;
    font-family: 'nexa_boldregular';
    line-height: 1.5;
    font-weight: 400;
    color: #fff;
    display: block;
}


/* .offcanvas-menu nav>ul li a::after {
    content: " : " counter(nav-link-count);
} */

.offcanvas-menu nav>ul li:hover {
    animation: hover 0.5s;
}

.offcanvas-menu input[type="checkbox"] {
    display: none;
}

.offcanvas-menu input[type="checkbox"]:checked~label {
    opacity: 0;
    pointer-events: none;
}

.offcanvas-menu input[type="checkbox"]:checked~nav {
    left: 0;
}

.offcanvas-menu input[type="checkbox"]:checked~nav label span {
    background: transparent;
}

.offcanvas-menu input[type="checkbox"]:checked~nav label span:before {
    transform: rotate(-45deg);
}

.offcanvas-menu input[type="checkbox"]:checked~nav label span:after {
    transform: rotate(45deg);
}

.offcanvas-menu input[type="checkbox"]:checked~nav label span:before,
.offcanvas-menu input[type="checkbox"]:checked~nav label span:after {
    transition-delay: 0.2s;
}

.offcanvas-menu input[type="checkbox"]:checked~nav ul li {
    opacity: 1;
    transform: translateX(0px);
}

.offcanvas-menu input[type="checkbox"]:checked~nav ul li:nth-child(1) {
    transition-delay: 0.1s;
}

.offcanvas-menu input[type="checkbox"]:checked~nav ul li:nth-child(2) {
    transition-delay: 0.2s;
}

.offcanvas-menu input[type="checkbox"]:checked~nav ul li:nth-child(3) {
    transition-delay: 0.3s;
}

.offcanvas-menu input[type="checkbox"]:checked~nav ul li:nth-child(4) {
    transition-delay: 0.4s;
}

.offcanvas-menu input[type="checkbox"]:checked~nav ul li:nth-child(5) {
    transition-delay: 0.5s;
}

.offcanvas-menu input[type="checkbox"]:checked~nav ul li:nth-child(6) {
    transition-delay: 0.6s;
}

.offcanvas-menu input[type="checkbox"]:checked~nav ul li:nth-child(7) {
    transition-delay: 0.7s;
}

.notifications a.dropdown-toggle {
    color: #858585;
}

.notifications a.dropdown-toggle:after {
    display: none;
}

.notifications.show a.dropdown-toggle {
    color: #0e95b9;
}

.dropdown-menu.notif_dd {
    padding: 0;
    font-family: 'Jost';
    font-size: 15px;
    left: -195px;
    top: 35px;
    border-radius: 10px 40px 0px 10px;
    max-height: 300px;
    overflow: auto;
}

.dropdown-menu.notif_dd::-webkit-scrollbar {
    width: 10px;
    overflow: hidden;
}


/* Track */

.dropdown-menu.notif_dd::-webkit-scrollbar-track {
    background: #fff;
    margin-top: 45px;
    border-radius: 0px 40px 0px 0px;
}


/* Handle */

.dropdown-menu.notif_dd::-webkit-scrollbar-thumb {
    background: #0e95b9;
    border-radius: 50px 50px 0px 0px;
}


/* Handle on hover */

.dropdown-menu.notif_dd::-webkit-scrollbar-thumb:hover {
    background: #0e95b9;
}

.notificaiton-wrapper .top {
    display: flex;
    align-items: baseline;
}

p.notfTitle {
    padding: 0;
    font-family: 'Jost';
    font-size: 15px;
    color: #000;
    font-weight: 600;
}

.notificaiton-wrapper .top i {
    padding-right: 10px;
    font-size: 16px;
    color: #0e95b9;
}

.dropdown-menu.notif_dd a.dropdown-item:first-child:hover {
    border-radius: 10px 40px 0px 10px;
}

.dropdown-menu.notif_dd a.dropdown-item:last-child:hover {
    border-radius: 0px 0px 0px 10px;
}

.dropdown-menu.notif_dd a.dropdown-item {
    padding: 20px 30px;
}

.notificaiton-wrapper .bottom {
    padding-left: 30px;
    margin-top: 5px;
}

.notificaiton-wrapper .bottom span {
    color: #0e95b9;
    font-weight: 600;
    font-size: 13px;
}

.notificaiton-wrapper .bottom p {
    padding: 0;
    text-transform: capitalize;
    font-size: 14px;
    text-decoration: underline;
}

.user__offcnvs a .wrap {
    display: flex;
    flex-direction: column;
}

span.view-prof {
    font-size: 12px;
    color: #fff;
    padding-left: 10px !important;
    display: inline-block;
}

.off-can-dd-user.show {
    transform: translate3d(0px, 0px, 0px) !important;
    position: static !important;
    /* height: 100% !important; */
    max-height: 500px;
    transition: max-height 0.25s ease-in;
}

.off-can-dd-user.show a.dropdown-item {
    color: #000;
    font-size: 15px;
    font-family: 'Jost';
}

.off-can-dd-user {
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
}

.w-90 {
    width: 90%;
}

.dropdown-menu.notif_dd a.dropdown-item:active {
    background: #38a4c2;
}

.dropdown-menu.notif_dd a.dropdown-item:active .notificaiton-wrapper .top {
    color: #fff !important;
}

.dropdown-menu.notif_dd a.dropdown-item:active .notificaiton-wrapper .top i {
    color: #fff;
}

.dropdown-menu.notif_dd a.dropdown-item:active .notificaiton-wrapper .top p.notfTitle {
    color: #fff;
}

.dropdown-menu.notif_dd a.dropdown-item:active .notificaiton-wrapper .bottom span {
    color: #fff;
}

.dropdown-menu.notif_dd a.dropdown-item:active .notificaiton-wrapper .bottom p {
    color: #fff;
}

.notification__Wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 40px;
    border-radius: 20px 60px 0px 20px;
    margin-bottom: 20px;
}

.notification__Wrapper .left {
    display: flex;
    align-items: center;
    flex: 2;
}

.notification__Wrapper .right {
    flex: 1;
    text-align: right;
}

.notification__Wrapper .left .inner {
    margin-left: 20px;
}

.notification__Wrapper .left .inner p {
    padding: 0;
}

.notification__Wrapper .left i.fa.fa-bell-o {
    background: #0e95b9;
    color: #fff;
    padding: 20px;
    border-radius: 10px 30px 0px 10px;
    font-size: 25px;
}

p.notif__Title {
    color: #101f2e;
    font-family: 'Jost';
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
    text-transform: capitalize;
}

p.notif__time {
    color: #0e95b9;
    font-family: 'Jost';
    font-size: 15px;
    font-weight: 600;
}

.notification__Wrapper .right a.view {
    background: #0e95b9;
    color: #fff;
    padding: 10px 25px;
    border-radius: 5px 20px 0px 5px;
}

ul.paginate_nots {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 400px;
    background: #fff;
    padding: 10px;
    border: 1px solid #ebebeb;
    font-family: 'Jost';
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
}

.n_pagination_wrap {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

ul.paginate_nots li {}

ul.paginate_nots li a.pg-links.prev {
    color: #0e95b9;
}

ul.paginate_nots li a.pg-links.next {
    color: #0e95b9;
}

ul.paginate_nots li a.pg-links {
    color: #666666;
    padding: 10px 15px;
    position: relative;
}

ul.paginate_nots li a.pg-links.active {
    background: #0e95b9;
    color: #fff;
    border-radius: 4px 20px 0px 4px;
}

ul.paginate_nots li a.pg-links:after {
    content: '|';
    position: absolute;
    right: -5px;
    color: #ebebeb;
}

ul.paginate_nots li a.pg-links.next:after,
ul.paginate_nots li a.pg-links.prev:after {
    display: none;
}


/*******USER PROF ***********/

img.user-avatar {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #fff;
}

.user-card {
    background-color: #f9fcfd;
}

.user-top {
    padding: 20px 45px;
    position: relative;
}

.user-top a {
    display: block;
    font-size: 14px;
    color: #0e95b9;
    line-height: 55px;
}

p.bio {
    width: 85%;
    margin: 0px auto;
    color: #807b7b;
    font-size: 15px;
}

a.edit_prof {
    position: absolute;
    right: 50px;
    font-size: 15px;
    line-height: 24px;
    border: 2px solid;
    padding: 5px 30px;
    border-radius: 6px 20px 0px 6px;
    top: 20%;
    transform: translateY(-20%);
    z-index: 9;
}

.usr-wrap {
    margin-top: 20px;
}

.usr-wrap a.usr-a {
    color: #fff;
    text-transform: capitalize;
    padding: 10px 20px;
    border-radius: 6px 20px 0px 6px;
    margin-right: 20px;
}

.usr-wrap a.usr-a.cv {
    background: #0e95b9;
}

.usr-wrap a.usr-a.edit {
    background: #999999;
}

.dl_wrapper label {
    font-family: 'Jost';
    font-size: 15px;
    color: #b2b2b2;
    line-height: 25px;
    font-weight: 500;
}

.dl_wrapper .inner-wrapper {
    width: 200px;
    padding: 10px 20px;
    background: #e6f4fb;
    border: 5px solid #fff;
    border-radius: 10px 20px 0px 10px;
}

.dl_wrapper .inner-wrapper a {
    align-items: center;
    display: flex;
}

.dl_wrapper .inner-wrapper a img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.dl_wrapper .inner-wrapper a p {
    padding: 0 10px;
    font-size: 14px;
    line-height: 18px;
    color: #333333;
}

.user-top textarea {
    width: 85% !important;
}

img.avatar.avatar-big {
    width: 100px;
    height: 100px;
}

.profile-picture-div.edit-prof {
    position: relative;
    display: table;
    margin: 0px auto;
}

.profile-picture-div.edit-prof label {
    background: transparent;
    position: absolute;
    top: 25px;
    left: 38px;
}

.profile-picture-div label {
    background: #f5f5f5;
    padding: 30px;
    border-radius: 8px;
    margin-top: 15px;
}

.profile-picture-div.edit-prof label i.fa.fa-camera.profile-pic-icon {
    background: #1f9bde;
    color: #fff !important;
    padding: 6px;
    border: 1px solid #fff;
}

i.fa.fa-camera.profile-pic-icon {
    color: #bcbcbc;
    background: #fafafa;
    padding: 25px;
    border-radius: 50%;
}

input.edit_profile {
    width: 100%;
    height: 40px;
    border: 1px solid #e1e1e1e1;
    padding: 15px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

p.reg-p.e-padding {
    padding: 10px 0px;
}

.edit-profile input {
    width: 95% !important;
}

.edit-profile .gj-datepicker.gj-datepicker-bootstrap.gj-unselectable.input-group {
    width: 95%;
}

.edit-profile {
    text-align: left !important;
}

.edit-profile textarea {
    margin: 0px auto !important;
    display: table;
}

button.btn-contact {
    border-radius: 6px 25px 0px 6px;
    background: #0e95b9;
    color: #fff;
    font-size: 20px;
    border: 0;
    line-height: 25px;
    padding: 10px 60px;
    vertical-align: middle;
}

.error-wrp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.error-wrp h2 {
    background: none;
    font-family: 'Jost';
    font-size: 200px;
    font-weight: bold;
    color: #0e95b9;
    padding: 0;
    margin: 0;
    line-height: 210px;
}

.error-wrp p {
    padding: 0;
    color: #666666;
    font-size: 40px;
    font-family: 'Jost';
    text-transform: capitalize;
    font-weight: 600;
    line-height: 45px;
}

.error-wrp a {
    color: #fff;
    text-transform: capitalize;
    background: #0e95b9;
    font-size: 25px;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px 30px 0px 10px;
}

/* FAQ */
div#accordion .card .card-body p.text {font-family: 'Poppins';color: #000;line-height: 1.5;}
div#accordion .card {
  background: transparent;
  border: 0 !important;
  border-top: 2px solid #fff !important;
  border-radius: 0px !important;
  color: #000;
  font-weight: 400;
  box-shadow: none;
  padding: 0;
  margin-bottom: 30px;
}

div#accordion .card:last-child {
  border-bottom: 2px solid #fff !important;
}

div#accordion .card .card-header {
  border-radius: 0 !important;
  background: 0;
  border: 0 !important;
  background-color: transparent !important;
  padding: 0;
}

div#accordion .card .card-header h5 button.btn.btn-link {
  color: #000;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

div#accordion .card .card-body {
  padding: 10px 0;
}

div#accordion .card .card-header h5 button.btn.btn-link p {
  font-size: 18px;
  color: #000;
  margin: 0;
  text-align: left;
  line-height: 25px;
  font-weight: 500;
  white-space: pre-wrap;
  padding: 0;
  font-family: 'Poppins';
}

div#accordion
  .card
  .card-header
  h5
  button.btn.btn-link[aria-expanded="true"]
  i {
  transform: rotate(180deg);
  transition: 250ms all linear;
  transform-box: view-box;
  transform-origin: center;
}

div#accordion
  .card
  .card-header
  h5
  button.btn.btn-link[aria-expanded="false"]
  i {
  transition: 250ms all linear;
  transform: rotate(0deg);
  transform-box: view-box;
  transform-origin: center;
}
a.btn-red {
    background: red;
    color: #fff;
    padding: 12px 40px;
    border-radius: 0px 20px 0px 10px;
}

button.btn-bluee {
    background: #0e95b9;
    border: 0;
    color: #fff;
    padding: 12px 40px;
    border-radius: 20px 0 10px 0px;
}
img.stok {
    max-width: 100%;
    margin: 20px 0px;
    height: 360px;
    object-fit: cover;
    object-position: center;
}
p.text-abt {
    color: #000;
    font-family: 'Poppins';
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
}
/* FAQ */

@media (max-width:1800px) {
    section.login-section {
        background-size: 68% 72%;
    }
}

@media (max-width:1500px) {
    .nav-bg {
        width: 70%;
    }
}

@media (max-width:1310px) {
    .nav-margin-left {
        margin-left: 0;
    }
    section.login-section {
        padding: 150px 0px 100px 0px;
    }
}

@media (max-width:1150px) {
    .w-2 {
        flex-basis: 100%;
    }
    .w-1 {
        margin: 0;
    }
    .w-1:last-child {
        margin: 0;
    }
    section.login-section {
        background-size: cover;
    }
    section.login-section {
        padding-bottom: 28px;
    }
    section.login-section::after {
        display: none;
    }
    section.login-footer {
        padding: 20px 0px 0px 0px;
    }
    button.eye-pass {
        right: 22px;
    }
}

@media (max-width:1050px) {
    .check-container input[type="checkbox"] {
        width: initial;
    }
    .pckg_wrapper:hover {
        transform: scale(1);
    }
    .user-home .card {
        padding: 10px;
    }
    .inner-card {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 999px) {
    .comp-card {
        padding: 20px;
    }
    .inner-card p {
        text-align: center;
    }
}

@media (max-width:999px) {
    a.back-a {
        font-size: 14px;
    }
    .n_pagination_wrap {
        justify-content: center;
    }
    p.notif__Title {
        font-size: 18px;
    }
    p.notif__time {
        font-size: 12px;
    }
    .dropdown-menu.dropdown-menu-right.user-dd {
        position: static !important;
        transform: translate3d(0px, 0px, 0px) !important;
    }
    .user-home {
        margin: 10px 0px;
    }
    .user_dropdown a.dropdown-toggle.nav-link.dropdown-user-link {
        margin-right: auto;
        display: table;
    }
    .dropdown-toggle::after {
        left: 176px;
        top: 34px;
        font-size: 16px;
    }
    a.change-pckg {
        margin: 20px auto 0px auto;
        font-size: 15px;
        padding: 10px 15px;
    }
    p.page-heading {
        font-size: 20px;
        padding: 0;
    }
    .comp-card .inner-card p {
        justify-content: center;
    }
    .comp-card {
        padding: 20px;
    }
    .f-m-s {
        align-items: flex-start;
        flex-direction: row;
    }
    .f-m-s li.nav-item.btn-right {
        float: none;
        margin: 0px 30px 30px 14px;
    }
    span.user-name {
        color: #fff;
    }
    .dropdown-toggle::after {
        color: #fff;
    }
    .nav-bg {
        width: 190px;
    }
    div#navbarToggle {
        background: #0e95b9;
        border-radius: 10px 20px 0px 10px;
    }
    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .nav-link:hover {
        border: 0;
    }
    .cv-card {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .search-wrapper {
        width: 100%;
    }
    .package-m .modal-content.recovery .modal-body a.btn-sys {
        margin-top: 10px;
    }
}

@media (max-width: 575px) {
    p.copyrights {
        font-size: 15px;
    }
    .error-wrp h2 {
        font-size: 100px;
        line-height: 110px;
    }
    .error-wrp {
        padding: 20px;
        text-align: center;
    }
    .error-wrp p {
        font-size: 20px;
        line-height: 25px;
    }
    .error-wrp a {
        font-size: 16px;
    }
    .dl_wrapper {
        text-align: center;
    }
    .inner-wrapper {
        margin: 0px auto;
    }
    .dl_wrapper .inner-wrapper a p {
        text-align: left;
    }
    .usr-wrap {
        margin: 20px 0px;
        text-align: center;
    }
    .usr-wrap a.usr-a {
        margin-right: 10px;
    }
    .usr-wrap a.usr-a:last-child {
        margin: 0;
    }
    .card-header.cv-header p {
        line-height: 25px;
        font-size: 18px;
    }
    .user-top {
        padding: 10px;
    }
    a.edit_prof {
        top: 7px;
        right: 0;
    }
    .notification__Wrapper.shadow-sm {
        flex-direction: column;
    }
    .notification__Wrapper .left {
        flex-direction: column;
    }
    .notification__Wrapper .left .inner {
        margin: 20px 0 20px 0;
        text-align: center;
    }
    div#change_package button.close {
        top: -64px;
        right: -34px;
    }
    div#change_package .modal-content.recovery {
        padding: 80px 50px;
    }
    .card-body.cv-card-body .form-group {
        text-align: center !important;
    }
    .radio__wrap {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-bg {
        width: 160px;
    }
    a.btn-cv {
        margin: 20px 0px;
        width: 100%;
    }
    .button_wrap {
        padding: 0px 20px;
    }
    .iti input#phone {
        width: 82%;
    }
    .cv-card .left img {
        width: 100%;
        height: auto;
    }
    .search-wrapper {
        flex-direction: column;
    }
    input.cv-submit {
        border: 0;
        width: 100%;
        margin-top: 10px;
    }
    input.cv-input {
        border-radius: 10px 20px 0px 10px;
    }
    div#training-popup .modal-body a.btn-sys {
        margin-top: 20px;
    }
    .expiry-alert {
        flex-direction: column;
    }
    .expiry-alert p {
        padding: 0px 10px;
        text-align: center;
    }
    .drop-wrap .dropdown .dropdown-menu.show:before {
        left: 88px;
    }
    .inner-card p {
        text-align: center;
    }
    a.filter-by {
        margin-top: 20px;
    }
    .u_wrap {
        flex-direction: column;
    }
    .u_wrap .inner {
        width: 100%;
        margin: 10px 0px;
    }
    .u_wrap label {
        position: inherit;
        text-align: right;
    }
    .user-home .card {
        padding: 0;
    }
    p.pckg-title {
        line-height: 35px;
    }
    #msform .action-button {
        width: 100%;
    }
    #msform fieldset {
        padding: 0;
    }
    p.reg-title {
        font-size: 30px;
        line-height: 40px;
    }
    #progressbar li {
        margin: 0;
        border-radius: 0px;
        box-shadow: 0 0 BLACK;
    }
    #progressbar li:after {
        display: none;
    }
    section.register-section .card {
        padding: 0px;
    }
    .modal-content.recovery {
        padding: 10px;
    }
    .modal-content.recovery .modal-header button.close {
        right: 0;
        top: -15px;
    }
    form.login-form {
        padding: 50px 20px;
    }
}

@media (max-width: 340px) {
    .card.cv-create-card.user-card {
        border-radius: 4px 25px 0px 4px;
    }
    .card-header.cv-header.br-0.usr_p {
        flex-direction: column;
    }
    .offcanvas-menu nav>div label {
        margin-right: 20px;
    }
    .iti input#phone {
        width: 78%;
    }
    .cv-card {
        padding-bottom: 55px;
    }
    .card-header.cv-header p {
        font-size: 18px;
    }
    .card-body.cv-card-body {
        padding: 10px;
    }
}
.white-btn{
    background-color: #f8f9fa !important;
    border: 2px solid #0e96ba !important;
    color: #0e96ba;
    border-radius: 0 25px 0 0;
}


