<template>
    <div class="content-wrapper">
        <div class="content-body">
            <!-- Basic form layout section start -->
            <section id="configuration">
                <div class="row">
                    <div class="col-12">
                        <div class="card rounded pad-20">
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <h1 class="">Feedback</h1>
                                        </div>
                                    </div>

                                    <nav>
                                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link active " id="nav-user-tab" data-toggle="tab"
                                               href="#nav-user" role="tab" aria-controls="nav-user"
                                               aria-selected="true">Users</a>
                                            <a class="nav-item nav-link " id="nav-employer-tab" data-toggle="tab"
                                               href="#nav-employer" role="tab" aria-controls="nav-employer"
                                               aria-selected="false">Business Owners</a>
                                        </div>
                                    </nav>
                                    <div class="tab-content" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="nav-user" role="tabpanel"
                                             aria-labelledby="nav-user-tab">

                                            <div class="top mt-0 mt-md-5">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <label for="">sort by :</label>
                                                    </div>
                                                </div>
                                                <div class="row align-items-center">
                                                    <div class="col-xl-2 col-md-4 col-sm-6 col-12 mb-2 mb-md-0">
                                                        <date-picker v-model="from_business_user" placeholder="from"
                                                                     valueType="format"></date-picker>
                                                    </div>
                                                    <div class="col-xl-2 col-md-4 col-sm-6 col-12">
                                                        <date-picker v-model="to_business_user" placeholder="to"
                                                                     valueType="format"></date-picker>
                                                    </div>
                                                    <div class="col-xl-2 col-md-4 col-12">
                                                        <button @click="getSubscriptions()" class="green-btn w-100">
                                                            apply/clear
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>
                                            <div class="maain-tabble table-responsive">
                                                <table class="table table-striped table-bordered zero-configuration">
                                                    <thead>
                                                    <tr>
                                                        <th>s.no</th>
                                                        <th>User ID</th>
                                                        <th>Full Name</th>
                                                        <th>Email address</th>
                                                        <th>Date</th>
                                                        <th>Action</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>01</td>
                                                        <td>98765</td>
                                                        <td>Joe Doe</td>
                                                        <td>xyz@test.com</td>
                                                        <td>12 Dec, 20</td>
                                                        <td>
                                                            <div class="btn-group mr-1 mb-1">
                                                                <button type="button" class="btn btn-drop-table btn-sm"
                                                                        data-toggle="dropdown" aria-haspopup="true"
                                                                        aria-expanded="false"><i
                                                                    class="fa fa-ellipsis-v"></i></button>
                                                                <div class="dropdown-menu" x-placement="bottom-start">
                                                                    <router-link class="dropdown-item"
                                                                                 :to="{name:'ViewUserFeedback'}"><i
                                                                        class="fa fa-eye"></i>View
                                                                    </router-link>
                                                                    <router-link class="dropdown-item"
                                                                                 :to="{name: 'Feedback'}"
                                                                                 data-toggle="modal"
                                                                                 data-target=".delFed-modal"><i
                                                                        class="fa fa-trash"></i>Delete
                                                                    </router-link>

                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                        <div class="tab-pane fade " id="nav-employer" role="tabpanel"
                                             aria-labelledby="nav-employer-tab">

                                            <div class="top mt-0 mt-md-5">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <label for="">sort by :</label>
                                                    </div>
                                                </div>
                                                <div class="row align-items-center">
                                                    <div class="col-xl-2 col-md-4 col-sm-6 col-12 mb-2 mb-md-0">
                                                        <date-picker v-model="from_business_user" placeholder="from"
                                                                     valueType="format"></date-picker>
                                                    </div>
                                                    <div class="col-xl-2 col-md-4 col-sm-6 col-12">
                                                        <date-picker v-model="to_business_user" placeholder="to"
                                                                     valueType="format"></date-picker>
                                                    </div>
                                                    <div class="col-xl-2 col-md-4 col-12">
                                                        <button @click="getSubscriptions()" class="green-btn w-100">
                                                            apply/clear
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>
                                            <div class="maain-tabble table-responsive">
                                                <table class="table table-striped table-bordered zero-configuration">
                                                    <thead>
                                                    <tr>
                                                        <th>s.no</th>
                                                        <th>User ID</th>
                                                        <th>Full Name</th>
                                                        <th>Email address</th>
                                                        <th>Date</th>
                                                        <th>Action</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>01</td>
                                                        <td>98765</td>
                                                        <td>Joe Doe</td>
                                                        <td>xyz@test.com</td>
                                                        <td>12 Dec, 20</td>
                                                        <td>
                                                            <div class="btn-group mr-1 mb-1">
                                                                <button type="button" class="btn btn-drop-table btn-sm"
                                                                        data-toggle="dropdown" aria-haspopup="true"
                                                                        aria-expanded="false"><i
                                                                    class="fa fa-ellipsis-v"></i></button>
                                                                <div class="dropdown-menu" x-placement="bottom-start">
                                                                    <router-link class="dropdown-item"
                                                                                 :to="{name:'admin.feedback.show'}"><i
                                                                        class="fa fa-eye"></i>View
                                                                    </router-link>
                                                                    <router-link class="dropdown-item"
                                                                                 :to="{name: 'Feedback'}"
                                                                                 data-toggle="modal"
                                                                                 data-target=".delFed-modal"><i
                                                                        class="fa fa-trash"></i>Delete
                                                                    </router-link>

                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>
