<template>

    <div class="content-wrapper">
        <div class="content-body">
            <!-- Basic form layout section start -->
            <section id="configuration">
                <div class="row">
                    <div class="col-12">
                        <div class="card rounded pad-20">
                            <div class="card-content collapse show">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <h1><a href="users-listing.php">Create Job</a></h1>
                                        </div>
                                    </div>

                                    <ValidationObserver v-slot="{ handleSubmit }">
                                        <form class="create-job" ref="JobCreateForm"
                                              @submit.prevent="handleSubmit(JobCreate)">

                                            <div class="row mt-2">
                                                <div class="col-12">
                                                    <div
                                                        class="card collapse-icon accordion-icon-rotate user_prof_acc bg-qqq">
                                                        <div id="headingCollapse11" class="card-header">
                                                            <a data-toggle="collapse" href="#collapse11"
                                                               aria-expanded="true" aria-controls="collapse11"
                                                               class="card-title lead">Job Details</a>
                                                        </div>
                                                        <div id="collapse11" role="tabpanel"
                                                             aria-labelledby="headingCollapse11"
                                                             class="collapse show  bg-qqq">
                                                            <div class="card-content ">
                                                                <div class="card-body mt-sm-0 mt-2">
                                                                    <div class="row">
                                                                        <div
                                                                            class="col-xl-3 col-lg-4 col-md-6 col-12 t-c">
                                                                            <p class="fieldName">Job Category*</p>
                                                                            <ValidationProvider name="Job Category"
                                                                                                rules="required"
                                                                                                v-slot="{ errors }">

                                                                                <select name="category_id"
                                                                                        v-model="category_id"
                                                                                        class="job-cat bg-glass">
                                                                                    <option v-for="(category,index) in categories.data" :value="category.id">{{category.category_name}}
                                                                                    </option>

                                                                                </select>
                                                                                <span class="text-danger">{{
                                                                                        errors[0]
                                                                                    }}</span>
                                                                            </ValidationProvider>
                                                                        </div>
                                                                        <div
                                                                            class="col-xl-3 col-lg-4 col-md-6 col-12 t-c">
                                                                            <p class="fieldName">Job Name*</p>
                                                                            <ValidationProvider name="Job Name"
                                                                                                rules="required"
                                                                                                v-slot="{ errors }">
                                                                                <input type="text" name="job_title"
                                                                                       class="u-edit-txt"
                                                                                       placeholder="Job Name"
                                                                                       v-model="job_title">
                                                                                <span class="text-danger">{{
                                                                                        errors[0]
                                                                                    }}</span>
                                                                            </ValidationProvider>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row mt-0 mt-lg-3">
                                                                        <div
                                                                            class="col-xl-3 col-lg-4 col-md-6 col-12 t-c">
                                                                            <p class="fieldName">Company Name*</p>
                                                                            <ValidationProvider name="Company Name"
                                                                                                rules="required"
                                                                                                v-slot="{ errors }">
                                                                                <input type="text" name="company_name"
                                                                                       class="u-edit-txt"
                                                                                       placeholder="Company Name"
                                                                                       v-model="company_name">
                                                                                <span
                                                                                    class="text-danger">{{ errors[0] }}</span>
                                                                            </ValidationProvider>

                                                                        </div>
                                                                        <div
                                                                            class="col-xl-3 col-lg-4 col-md-6 col-12 t-c">
                                                                            <p class="fieldName">Salary Range*</p>
                                                                            <ValidationProvider name="Salary Range"
                                                                                                rules="required"
                                                                                                v-slot="{ errors }">
                                                                        <input type="text" name="salary_range"
                                                                                       v-model="salary_range"
                                                                                       class="u-edit-txt"
                                                                                       placeholder="$123 - $124">
                                                                                <span
                                                                                    class="text-danger">{{ errors[0] }}</span>
                                                                            </ValidationProvider>
                                                                        </div>
                                                                        <div
                                                                            class="col-xl-3 col-lg-4 col-md-6 col-12 t-c">
                                                                            <p class="fieldName">Apply Before*</p>
                                                                            <ValidationProvider name="Apply Before"
                                                                                                rules="required"
                                                                                                v-slot="{ errors }">
                                                                                <date-picker
                                                                                             id="apply-before"
                                                                                             class="u-edit-txt"
                                                                                             valueType="format"
                                                                                              v-model="apply_before"
                                                                                            ></date-picker>

                                                                                <span
                                                                                    class="text-danger">{{ errors[0] }}</span>
                                                                            </ValidationProvider>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row mt-0 mt-lg-3">
                                                                        <div
                                                                            class="col-xl-3 col-lg-4 col-md-6 col-12 t-c">
                                                                            <p class="fieldName">Period of
                                                                                Employment*</p>
                                                                            <ValidationProvider
                                                                                name="Period of Employment"
                                                                                rules="required"
                                                                                v-slot="{ errors }">
                                                                                <select name="period_of_employment"
                                                                                        v-model="period_of_employment"
                                                                                        id="" class="job-cat">
                                                                                    <option value="" selected disabled>
                                                                                        Select
                                                                                    </option>
                                                                                    <option value="Permanent">Permanent
                                                                                    </option>
                                                                                    <option value="Contract Based">
                                                                                        Contract
                                                                                        Based
                                                                                    </option>
                                                                                    <option value="Seasonal">Seasonal
                                                                                    </option>
                                                                                    <option value="Casual">Casual
                                                                                    </option>
                                                                                </select>
                                                                                <span
                                                                                    class="text-danger">{{ errors[0] }}</span>
                                                                            </ValidationProvider>
                                                                        </div>
                                                                        <div
                                                                            class="col-xl-3 col-lg-4 col-md-6 col-12 t-c">
                                                                            <p class="fieldName">Hours Of Work*</p>
                                                                            <ValidationProvider name="Hours Of Work"
                                                                                                rules="required"
                                                                                                v-slot="{ errors }">
                                                                                <select name="hours_of_work"
                                                                                        v-model="hours_of_work"
                                                                                        class="job-cat bg-glass">
                                                                                    <option value="" selected disabled>
                                                                                        Select
                                                                                    </option>
                                                                                    <option value="Full Time">Full Time
                                                                                    </option>
                                                                                    <option value="Part Time">Part Time
                                                                                    </option>

                                                                                </select>
                                                                                <span
                                                                                    class="text-danger">{{ errors[0] }}</span>
                                                                            </ValidationProvider>
                                                                        </div>
                                                                    </div>
                                                                    <!-- <div class="row my-2">

                                                                        <div class="col-12 text-center text-md-left">

                                                                                <input type="file"  name="file"    />
                                                                        </div>
                                                                    </div> -->

                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div id="headingCollapse12" class="card-header">
                                                            <a data-toggle="collapse" href="#collapse12"
                                                               aria-expanded="true" aria-controls="collapse12"
                                                               class="card-title lead ">Address Details</a>
                                                        </div>
                                                        <div id="collapse12" role="tabpanel"
                                                             aria-labelledby="headingCollapse12"
                                                             class="collapse show  bg-qqq">
                                                            <div class="card-content">
                                                                <div class="card-body mt-sm-0 mt-2">
                                                                    <div class="row">
                                                                        <div
                                                                            class="col-xl-3 col-lg-4 col-md-6 col-12 t-c">
                                                                            <p class="fieldName">Address*</p>
                                                                            <ValidationProvider name="Address"
                                                                                                rules="required"
                                                                                                v-slot="{ errors }">
                                                                                <input type="text" name="address"
                                                                                       v-model="address"
                                                                                       class="u-edit-txt"
                                                                                       value="Abc street">
                                                                                <span
                                                                                    class="text-danger">{{ errors[0] }}</span>
                                                                            </ValidationProvider>
                                                                        </div>
                                                                        <div
                                                                            class="col-xl-3 col-lg-4 col-md-6 col-12 t-c">
                                                                            <p class="fieldName">Country*</p>
                                                                            <ValidationProvider name="Country"
                                                                                                rules="required"
                                                                                                v-slot="{ errors }">
                                                                                <input type="text" name="country"
                                                                                       v-model="country"
                                                                                       class="u-edit-txt"
                                                                                       value="Abc Country">
                                                                                <span
                                                                                    class="text-danger">{{ errors[0] }}</span>
                                                                            </ValidationProvider>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row mt-md-1">
                                                                        <div
                                                                            class="col-xl-3 col-lg-4 col-md-6 col-12 t-c">
                                                                            <p class="fieldName">State</p>
                                                                            <ValidationProvider name="State"
                                                                                                rules="required"
                                                                                                v-slot="{ errors }">
                                                                                <input type="text" name="state"
                                                                                       class="u-edit-txt"
                                                                                       value="abc state" v-model="state" >
                                                                                <span
                                                                                    class="text-danger">{{ errors[0] }}</span>
                                                                            </ValidationProvider>
                                                                        </div>
                                                                        <div
                                                                            class="col-xl-3 col-lg-4 col-md-6 col-12 t-c">
                                                                            <p class="fieldName">City</p>
                                                                            <ValidationProvider name="City"
                                                                                                rules="required"
                                                                                                v-slot="{ errors }">
                                                                                <input type="text" name="city"
                                                                                       v-model="city"
                                                                                       class="u-edit-txt"
                                                                                       value="abc city">
                                                                                <span
                                                                                    class="text-danger">{{ errors[0] }}</span>
                                                                            </ValidationProvider>
                                                                        </div>
                                                                        <div
                                                                            class="col-xl-3 col-lg-4 col-md-6 col-12 t-c">
                                                                            <p class="fieldName">Zip Code</p>
                                                                            <ValidationProvider name="Zip code"
                                                                                                rules="required"
                                                                                                v-slot="{ errors }">
                                                                                <input type="number" name="zip_code"
                                                                                       v-model="zip_code"
                                                                                       class="u-edit-txt" value="10001">
                                                                                <span
                                                                                    class="text-danger">{{ errors[0] }}</span>
                                                                            </ValidationProvider>
                                                                        </div>

                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div id="headingCollapse13" class="card-header">
                                                            <a data-toggle="collapse" href="#collapse13"
                                                               aria-expanded="true" aria-controls="collapse13"
                                                               class="card-title lead ">Job responsibilities</a>
                                                        </div>
                                                        <div id="collapse13" role="tabpanel"
                                                             aria-labelledby="headingCollapse13"
                                                             class="collapse show  bg-qqq">
                                                            <div class="card-content">
                                                                <div class="card-body mt-sm-0 mt-2">
                                                                    <div class="row">
                                                                        <div class="col-xl-12 t-c">
                                                                            <p class="fieldName">Job Description*</p>
                                                                            <ValidationProvider name="Job Descriptions"
                                                                                                rules="required"
                                                                                                v-slot="{ errors }">
                                                                            <textarea name="job_descriptions"
                                                                                      v-model="job_descriptions"
                                                                                      class="u-edit-txt"
                                                                                      cols="30" rows="10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro veritatis repudiandae dolores. Ut, adipisci, error sequi pariatur expedita doloribus necessitatibus quod repellendus repudiandae quo nisi harum rerum a exercitationem natus.</textarea>
                                                                                <span
                                                                                    class="text-danger">{{ errors[0] }}</span>
                                                                            </ValidationProvider>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div id="headingCollapse14" class="card-header">
                                                            <a data-toggle="collapse" href="#collapse14"
                                                               aria-expanded="true" aria-controls="collapse14"
                                                               class="card-title lead ">Experience Information</a>
                                                        </div>
                                                        <div id="collapse14" role="tabpanel"
                                                             aria-labelledby="headingCollapse14"
                                                             class="collapse show  bg-qqq">
                                                            <div class="card-content">
                                                                <div class="card-body mt-sm-0 mt-2">
                                                                    <div class="row">
                                                                        <div
                                                                            class="col-xl-3 col-lg-4 col-md-6 col-12 t-c">
                                                                            <p class="fieldName">Years Of experience
                                                                                Needed*</p>
                                                                            <ValidationProvider
                                                                                name="Years Of experience"
                                                                                rules="required"
                                                                                v-slot="{ errors }">
                                                                                <select name="years_of_experience"
                                                                                        v-model="years_of_experience"
                                                                                        class="job-cat">
                                                                                    <option value="">Fresh Graduates
                                                                                    </option>
                                                                                    <option value="1 Year or Less">1
                                                                                        Year or
                                                                                        Less
                                                                                    </option>
                                                                                    <option value="1-2 Years">1-2 Years
                                                                                    </option>
                                                                                    <option value="2-5 Years">2-5 Years
                                                                                    </option>
                                                                                    <option value="5-10 Years">5-10
                                                                                        Years
                                                                                    </option>
                                                                                    <option value="10+ Years">10+ Years
                                                                                    </option>
                                                                                </select>
                                                                                <span
                                                                                    class="text-danger">{{ errors[0] }}</span>
                                                                            </ValidationProvider>
                                                                        </div>
                                                                        <div
                                                                            class="col-xl-3 col-lg-4 col-md-6 col-12 t-c">
                                                                            <p class="fieldName">Degree
                                                                                Requirements*</p>
                                                                            <ValidationProvider name="Degree"
                                                                                                rules="required"
                                                                                                v-slot="{ errors }">
                                                                                <select name="degree" v-model="degree"
                                                                                        class="job-cat">
                                                                                    <option value="" selected disabled>
                                                                                        Select
                                                                                    </option>
                                                                                    <option value="University">
                                                                                        University
                                                                                    </option>
                                                                                    <option value="College">College
                                                                                    </option>
                                                                                    <option value="Secondary School or Job
                                                                                    Specific Training">Secondary School
                                                                                        or Job
                                                                                        Specific Training
                                                                                    </option>
                                                                                    <option
                                                                                        value="No Education Required">No
                                                                                        Education Required
                                                                                    </option>
                                                                                </select>
                                                                                <span
                                                                                    class="text-danger">{{ errors[0] }}</span>
                                                                            </ValidationProvider>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row mt-md-1">
                                                                        <div
                                                                            class="col-xl-6 col-lg-6 col-md-6 col-12 t-c">
                                                                            <p class="fieldName">Skills*</p>
                                                                            <ValidationProvider name="Skill"
                                                                                                rules="required"
                                                                                                v-slot="{ errors }">
                                                                            <textarea name="skill" v-model="skill"
                                                                                      class="u-edit-txt"
                                                                                      cols="30" rows="10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro veritatis repudiandae dolores. Ut, adipisci, error sequi pariatur expedita doloribus necessitatibus quod repellendus repudiandae quo nisi harum rerum a exercitationem natus.</textarea>
                                                                                <span
                                                                                    class="text-danger">{{ errors[0] }}</span>
                                                                            </ValidationProvider>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <button type="submit" class="green-btn ml-2"
                                                                        >Create
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </ValidationObserver>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</template>

<script>

export default {
    data() {
        return {
            category_id: undefined,
            job_title: '',
            company_name: '',
            salary_range: '',
            apply_before: '',
            period_of_employment: '',
            hours_of_work: '',
            address: '',
            country: '',
            state: '',
            city: '',
            zip_code: '',
            job_descriptions: '',
            years_of_experience: '',
            degree: '',
            skill: '',
            fileUpload: '',
            categories: {},
        }

    },
     async created() {
        await this.getCategory();

      },
    methods: {
        async JobCreate(e) {
            let fd = new FormData(this.$refs.JobCreateForm);
            fd.append('apply_before',this.apply_before);
            fd.delete('date');
            let response = await axios.post('/api/admin/jobs/create', fd);

            if (response.data.data) {
                let data = response.data;
                console.log(data.message);
                this.$snotify.success(data.message)
                let self = this;
                setTimeout(function () {
                    self.$router.push({name: 'businessOwner.jobs.index'});
                }, 1000);
            } else {
                this.$snotify.error(response.data.data.message);
            }
        },
        async getCategory(page = 1) {
            let res = (await axios.get('/api/admin/category?status=1'));
            this.categories = res.data;
            console.log(this.categories);
        }
    }
}

</script>
