<template>
    <div>
        <!-- Change Package Modal -->
        <ValidationObserver v-slot="{ handleSubmit }">
            <form class="create-job" ref="updatePackage"
                  @submit.prevent="handleSubmit(updatePackage)">
                <div class="modal fade pro-modal change_package_modal" id="change_package" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <img src="images/pckg-icon.png" alt="">
                                        <h3 class="heading-profession">Change Package</h3>


                                        <div class="row mt-2 justify-content-center">
                                            <div
                                                class="col-md-10 d-flex justify-content-center flex-column flex-md-row align-items-center">
                                                <label class="container-pckg_change" v-for="pk in packages">

                                                        <input type="radio" name="package" v-model="pk.id" :value="pk.id">
                                                        <span class="checkmark-pckg_change"></span>
                                                        <i>{{ pk.package_name }}</i>
                                                    <div class="row mt-2">
                                                    <div class="col-12 text-center">
                                                        <span class="gray">Amount:</span>
                                                        <span class="amount">${{pk.charges}}</span>
                                                    </div>
                                                </div>
                                                </label>

                                            </div>

                                        </div>

                                        <div class="row mt-2">
                                            <div class="col-12 text-center">
                                                <a href="#" data-dismiss="modal" data-toggle="modal"
                                                   data-target="#payment_package" class="btn-blue">Update</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Payment Modal -->
                <div class="modal fade pro-modal change_package_modal" id="payment_package" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="heading-profession text-center">Payment</h3>


                                        <div class="row mb-2">
                                            <div class="col-12 t-c">
                                                <ValidationProvider name="Card holder name"
                                                                    rules="required"
                                                                    v-slot="{ errors }">
                                                    <p class="fieldName">Card Holder Name*</p>
                                                    <input type="text" name="card_holder_name"
                                                           v-model="card_holder_name" class="u-edit-txt payment-inp"
                                                           placeholder='Please Enter Card Holder Name'>

                                                    <span class="text-danger">{{
                                                            errors[0]
                                                        }}</span>
                                                </ValidationProvider>
                                            </div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-12 t-c">
                                                <ValidationProvider name="card number"
                                                                    rules="required"
                                                                    v-slot="{ errors }">
                                                    <p class="fieldName">Card Number*</p>
                                                    <input type="number" name="card_number" v-model="card_number"
                                                           class="u-edit-txt payment-inp"
                                                           placeholder='Please Enter Card Number'>
                                                    <span class="text-danger">{{
                                                            errors[0]
                                                        }}</span>
                                                </ValidationProvider>
                                            </div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-12 t-c">
                                                <ValidationProvider name="cvv code"
                                                                    rules="required"
                                                                    v-slot="{ errors }">
                                                    <p class="fieldName">CVV Code*</p>
                                                    <input type="number" name="cvv" v-model="cvv"
                                                           class="u-edit-txt payment-inp"
                                                           placeholder='Please Enter Card CVV Code'>
                                                    <span class="text-danger">{{
                                                            errors[0]
                                                        }}</span>
                                                </ValidationProvider>
                                            </div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-12 t-c">
                                                <ValidationProvider name="expiry date"
                                                                    rules="required"
                                                                    v-slot="{ errors }">
                                                    <p class="fieldName">Expiry Date*</p>
                                                    <date-picker v-model="expiry_date" valueType="format"
                                                                 class=" reg-input"></date-picker>
                                                    <span class="text-danger">{{
                                                            errors[0]
                                                        }}</span>
                                                </ValidationProvider>
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-12 text-center">
                                                <button type="submit" class="btn-blue w-100">Pay</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </ValidationObserver>
        <!-- Payment succes Modal -->
        <div class="modal fade pro-modal" id="payment_success" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fas fa-times"></i></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 text-center">
                                <img src="images/check.png" alt="">
                                <h3 class="heading-profession">Payment Successfully</h3>
                                <p class="para-profession">Your payment has been completed successfully</p>
                                <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#payment_failed"
                                   class="btn-prof">Got it</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Payment failed Modal -->
        <div class="modal fade pro-modal" id="payment_failed" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fas fa-times"></i></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 text-center">
                                <img src="images/error_modal.png" alt="">
                                <h3 class="heading-profession">Payment Error</h3>
                                <p class="para-profession">Your payment was not completed successfully</p>
                                <a href="#" data-dismiss="modal" data-target="#package-apply" data-toggle="modal"
                                   class="btn-prof">Got it</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <!-- Package Change Modal -->
        <div class="modal fade pro-modal" id="package-apply" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fas fa-times"></i></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 text-center">
                                <img src="images/pckg-icon.png" alt="">
                                <h3 class="heading-profession">Change Package</h3>
                                <p class="para-profession">Your seleted package would be applied on next renewal</p>
                                <a href="#" data-dismiss="modal" class="btn-prof">Got it</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            package: '',
            card_holder_name: '',
            cvv: '',
            expiry_date: '',
            card_number: '',
            packages: {},
        }
    },
    async created() {
        await this.getPackage();
    },
    methods: {
        async updatePackage() {
            let fd = new FormData(this.$refs.updatePackage);
            let response = await axios.post('/api/admin/subscriptions/updateUserPackage', fd);
            console.log(response);
            if (response.data.data) {
                this.$snotify.success(response.data.message)
                let self = this;
                $('#payment_package').modal('hide');
                // setTimeout(function () {
                //     self.$router.push({name: 'businessOwner.auth.login'});
                // }, 1000);
            } else {
                this.$snotify.error(response.data.message);
            }
        },
        async getPackage() {
            this.packages = (await axios.get('/api/admin/package?user_type=1')).data.data;
            console.log(this.packages);


        },
    }
}

</script>
