<template>
	<div>
		 <full-page-header></full-page-header>
		 <section class="nav-bg"></section>
		<section class="user-home">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center">
					<p class="page-heading">FAQ's</p>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-12">
					<div id="accordion">
						<div class="card">
							<div class="card-header" id="headingOne">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
										<p>How do I advertise a job on profession net?</p>
										<i><img src="images/faq-icon.png" alt=""></i>
									</button>
								</h5>
							</div>
							<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="card-body">
									<p class="text">
										If you have not done so yet, register to create a Profession Net account. Log in, select job application and then click ‘post a job advert’. Choose a subscription package and once it has been paid for the job advert will go live on the website.
									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingTwo">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										<p>How do I search on Profession Net?</p>
										<i><img src="images/faq-icon.png" alt="">

										</i>
									</button>
								</h5>
							</div>
							<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
								<div class="card-body">
									<p class="text">
										Once on the homepage click on the ‘Jobs’ tab then fill in the job title, city and salary based on the role you are looking for and then click search.
									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingThree">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										<p>How can I view my notifications?</p>
										<i><img src="images/faq-icon.png" alt="">

										</i>
									</button>
								</h5>
							</div>
							<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
								<div class="card-body">
									<p class="text">
										If you have not done so yet, register to create a Profession Net account. Log in and then click the bell icon in the top right-hand corner. Press ‘view all’ to see all notifications. <br><br>
										You can also view notifications by selecting the ‘notifications’ tab on the left-hand side, once you have logged in.

									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingFour">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
										<p>How will I be notified of any changes to my account?</p>
										<i><img src="images/faq-icon.png" alt="">

										</i>
									</button>
								</h5>
							</div>
							<div id="collapsefour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
								<div class="card-body">
									<p class="text">
										You will be notified by email and via the notifications bell once you log in to your account.
									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingfive">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive">
										<p>Can I share a job?</p>
										<i><img src="images/faq-icon.png" alt="">

										</i>
									</button>
								</h5>
							</div>
							<div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordion">
								<div class="card-body">
									<p class="text">
										Yes. Please feel free to share any job listings with friends and family.
									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingsix">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
										<p>How do I access and edit my Profession Net page?</p>
										<i><img src="images/faq-icon.png" alt="">

										</i>
									</button>
								</h5>
							</div>
							<div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordion">
								<div class="card-body">
									<p class="text">
										If you have not done so yet, register to create a Profession Net account. You will then be directed to the homepage once you log in. Select the dropdown menu at the top right-hand corner by your profile image and then click edit.
									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingseven">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapseven" aria-expanded="false" aria-controls="collapseven">
										<p>Where is my privacy page?</p>
										<i><img src="images/faq-icon.png" alt="">

										</i>
									</button>
								</h5>
							</div>
							<div id="collapseven" class="collapse" aria-labelledby="headingseven" data-parent="#accordion">
								<div class="card-body">
									<p class="text">
										Our Privacy statement is located at the bottom of the website homepage.
									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingeight">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapeight" aria-expanded="false" aria-controls="collapeight">
										<p>How can I see my purchases or subscriptions?</p>
										<i><img src="images/faq-icon.png" alt="">

										</i>
									</button>
								</h5>
							</div>
							<div id="collapeight" class="collapse" aria-labelledby="headingeight" data-parent="#accordion">
								<div class="card-body">
									<p class="text">
										Log into your Profession Net account and select the ‘Purchases’ tab on the left-hand side. Here you will be able to see all purchases and subscriptions.
									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingnine">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapnine" aria-expanded="false" aria-controls="collapnine">
										<p>How do I create a CV?</p>
										<i><img src="images/faq-icon.png" alt="">

										</i>
									</button>
								</h5>
							</div>
							<div id="collapnine" class="collapse" aria-labelledby="headingnine" data-parent="#accordion">
								<div class="card-body">
									<p class="text">
										At the top of the homepage click on the ‘create CV’ tab.
									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingten">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapten" aria-expanded="false" aria-controls="collapten">
										<p>How do I view contact information for candidates who have posted their CVs?</p>
										<i><img src="images/faq-icon.png" alt="">

										</i>
									</button>
								</h5>
							</div>
							<div id="collapten" class="collapse" aria-labelledby="headingten" data-parent="#accordion">
								<div class="card-body">
									<p class="text">
										Following GDPR guidelines you can view candidate's information after they have applied to job posting. This is to protect candidate’s privacy until they are ready to engage with employers.
									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingeleven">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapeleven" aria-expanded="false" aria-controls="collapeleven">
										<p>What if I need more contacts per month than what is provided in each subscription?</p>
										<i><img src="images/faq-icon.png" alt="">

										</i>
									</button>
								</h5>
							</div>
							<div id="collapeleven" class="collapse" aria-labelledby="headingeleven" data-parent="#accordion">
								<div class="card-body">
									<p class="text">
										You can add more contacts by upgrading the subscription package.
									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingelbara">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapelbara" aria-expanded="false" aria-controls="collapelbara">
										<p>Can I upgrade subscription?</p>
										<i><img src="images/faq-icon.png" alt="">

										</i>
									</button>
								</h5>
							</div>
							<div id="collapelbara" class="collapse" aria-labelledby="headingelbara" data-parent="#accordion">
								<div class="card-body">
									<p class="text">
										Yes. You can upgrade a subscription before the expiry date. <br> <br>
										Subscription packages will auto-renew by the expiry date.

									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingeltera">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapeltera" aria-expanded="false" aria-controls="collapeltera">
										<p>How can I access consultation? </p>
										<i><img src="images/faq-icon.png" alt="">

										</i>
									</button>
								</h5>
							</div>
							<div id="collapeltera" class="collapse" aria-labelledby="headingeltera" data-parent="#accordion">
								<div class="card-body">
									<p class="text">
										You can contact: admin@professionnet.co.uk <br><br>
										If you are a job seeker, looking for advice to increase the chances of securing a job vacancy, then you can apply for one of the subscription packages.


									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingelfrteen">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapelfrteen" aria-expanded="false" aria-controls="collapelfrteen">
										<p>How can I partner with profession net?</p>
										<i><img src="images/faq-icon.png" alt="">

										</i>
									</button>
								</h5>
							</div>
							<div id="collapelfrteen" class="collapse" aria-labelledby="headingelfrteen" data-parent="#accordion">
								<div class="card-body">
									<p class="text">
										Get in touch with admin@professionnet.co.uk for partnerships and affiliate contracts
									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingelfifteen">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapelfifteen" aria-expanded="false" aria-controls="collapelfifteen">
										<p>How do I upload my networking event?</p>
										<i><img src="images/faq-icon.png" alt="">

										</i>
									</button>
								</h5>
							</div>
							<div id="collapelfifteen" class="collapse" aria-labelledby="headingelfifteen" data-parent="#accordion">
								<div class="card-body">
									<p class="text">
										If you have not done so yet, register to create a Profession Net ‘business’ account. You will then be directed to the homepage once you log in. On the homepage click the networking and training tab and you can upload a training event on there.
									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingelsixteen">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapelsixteen" aria-expanded="false" aria-controls="collapelsixteen">
										<p>How do I update my sign in details?</p>
										<i><img src="images/faq-icon.png" alt="">
										</i>
									</button>
								</h5>
							</div>
							<div id="collapelsixteen" class="collapse" aria-labelledby="headingelsixteen" data-parent="#accordion">
								<div class="card-body">
									<p class="text">
										Go to your profile and click edit. Here you can update your email address or password.
									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingelsatra">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapelsatra" aria-expanded="false" aria-controls="collapelsatra">
										<p>How can I subscribe or unsubscribe from Profession Net emails?</p>
										<i><img src="images/faq-icon.png" alt="">
										</i>
									</button>
								</h5>
							</div>
							<div id="collapelsatra" class="collapse" aria-labelledby="headingelsatra" data-parent="#accordion">
								<div class="card-body">
									<p class="text">
										Email admin@professionnet.co.uk stating whether you want to subscribe or unsubscribe or click the unsubscribe button at the end of the email.
									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingeleighteen">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapeleighteen" aria-expanded="false" aria-controls="collapeleighteen">
										<p>How can I view my saved jobs?</p>
										<i><img src="images/faq-icon.png" alt="">
										</i>
									</button>
								</h5>
							</div>
							<div id="collapeleighteen" class="collapse" aria-labelledby="headingeleighteen" data-parent="#accordion">
								<div class="card-body">
									<p class="text">
										If you have not done so yet, register to create a Profession Net ‘user’ account. You will then be directed to the homepage once you log in.
										Go to your profile, click the drop-down menu and you will find saved jobs under ‘my jobs’.
									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingelnineteen">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapelnineteen" aria-expanded="false" aria-controls="collapelnineteen">
										<p>How can I filter the jobs that I am looking for?</p>
										<i><img src="images/faq-icon.png" alt="">
										</i>
									</button>
								</h5>
							</div>
							<div id="collapelnineteen" class="collapse" aria-labelledby="headingelnineteen" data-parent="#accordion">
								<div class="card-body">
									<p class="text">
										Go to the jobs page then under the search bar click on ‘filter by’. You can filter by the job title, city and salary based on the role you are looking for and then click search.
									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingelbees">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapelbees" aria-expanded="false" aria-controls="collapelbees">
										<p>How can I upload a different CV for an application?</p>
										<i><img src="images/faq-icon.png" alt="">
										</i>
									</button>
								</h5>
							</div>
							<div id="collapelbees" class="collapse" aria-labelledby="headingelbees" data-parent="#accordion">
								<div class="card-body">
									<p class="text">
										Go to your profile, view profile then edit. Click edit CV or upload new CV.
									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingelekis">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapelekis" aria-expanded="false" aria-controls="collapelekis">
										<p>What happens after I apply for a job on Profession Net?</p>
										<i><img src="images/faq-icon.png" alt="">
										</i>
									</button>
								</h5>
							</div>
							<div id="collapelekis" class="collapse" aria-labelledby="headingelekis" data-parent="#accordion">
								<div class="card-body">
									<p class="text">
										You will be notified by email that you have applied.
									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingelbais">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapelbais" aria-expanded="false" aria-controls="collapelbais">
										<p>Why haven’t I received a response to my application?</p>
										<i><img src="images/faq-icon.png" alt="">
										</i>
									</button>
								</h5>
							</div>
							<div id="collapelbais" class="collapse" aria-labelledby="headingelbais" data-parent="#accordion">
								<div class="card-body">
									<p class="text">
										Double check that you have provided the correct details. <br><br>
										Profession Net acts as a third party to some of the companies listing jobs. Contact the company by sending them an email or giving them a call to verify the outcome of your application. <br><br>
										There could be a delay for first time applicants. This is so that the information provided is verified to help protect candidate information.

									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingeltais">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapeltais" aria-expanded="false" aria-controls="collapeltais">
										<p>How long do jobs stay on the site for?</p>
										<i><img src="images/faq-icon.png" alt="">
										</i>
									</button>
								</h5>
							</div>
							<div id="collapeltais" class="collapse" aria-labelledby="headingeltais" data-parent="#accordion">
								<div class="card-body">
									<p class="text">
										Jobs stay on the website based on the ‘apply by’ date entered by the company who has uploaded the
										vacancy.

									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingelchobis">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapelchobis" aria-expanded="false" aria-controls="collapelchobis">
										<p>How do I report an inappropriate site on your website?</p>
										<i><img src="images/faq-icon.png" alt="">
										</i>
									</button>
								</h5>
							</div>
							<div id="collapelchobis" class="collapse" aria-labelledby="headingelchobis" data-parent="#accordion">
								<div class="card-body">
									<p class="text">
										Contact admin@professionnet.co.uk
									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingeltwentyfive">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapeltwentyfive" aria-expanded="false" aria-controls="collapeltwentyfive">
										<p>I can’t sign in, what’s the problem?</p>
										<i><img src="images/faq-icon.png" alt="">
										</i>
									</button>
								</h5>
							</div>
							<div id="collapeltwentyfive" class="collapse" aria-labelledby="headingeltwentyfive" data-parent="#accordion">
								<div class="card-body">
									<p class="text">
										If you are having trouble signing in, make sure that: <br><br>
										1) You have entered your details correctly including username and password. <br> <br>
										2) Request for a password reset if you have forgotten your password.

									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingeltwentysix">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapeltwentysix" aria-expanded="false" aria-controls="collapeltwentysix">
										<p>How do I change my email/password?</p>
										<i><img src="images/faq-icon.png" alt="">
										</i>
									</button>
								</h5>
							</div>
							<div id="collapeltwentysix" class="collapse" aria-labelledby="headingeltwentysix" data-parent="#accordion">
								<div class="card-body">
									<p class="text">
										Go to profile and click edit. Here you can update your email address or password.
									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingeltwentyseven">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapeltwentyseven" aria-expanded="false" aria-controls="collapeltwentyseven">
										<p>How do I change my contact details/address?</p>
										<i><img src="images/faq-icon.png" alt="">
										</i>
									</button>
								</h5>
							</div>
							<div id="collapeltwentyseven" class="collapse" aria-labelledby="headingeltwentyseven" data-parent="#accordion">
								<div class="card-body">
									<p class="text">
										Go to profile and click edit to be able to change contact details and address.
									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingeltwentyeight">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapeltwentyeight" aria-expanded="false" aria-controls="collapeltwentyeight">
										<p>Is my personal information secure?</p>
										<i><img src="images/faq-icon.png" alt="">
										</i>
									</button>
								</h5>
							</div>
							<div id="collapeltwentyeight" class="collapse" aria-labelledby="headingeltwentyeight" data-parent="#accordion">
								<div class="card-body">
									<p class="text">
										Yes. Once personal information is approved by Profession Net and you have responded to a vacancy your information will be protected as instructed by GDPR.
									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingeltwentynine">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapeltwentynine" aria-expanded="false" aria-controls="collapeltwentynine">
										<p>Who can see information when I register?</p>
										<i><img src="images/faq-icon.png" alt="">
										</i>
									</button>
								</h5>
							</div>
							<div id="collapeltwentynine" class="collapse" aria-labelledby="headingeltwentynine" data-parent="#accordion">
								<div class="card-body">
									<p class="text">
										Profession Net and yourself. Organisations will only see your information once you have interacted with them or applied for a job.
									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingelthirty">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapelthirty" aria-expanded="false" aria-controls="collapelthirty">
										<p>It says the file is too large what can I do?</p>
										<i><img src="images/faq-icon.png" alt="">
										</i>
									</button>
								</h5>
							</div>
							<div id="collapelthirty" class="collapse" aria-labelledby="headingelthirty" data-parent="#accordion">
								<div class="card-body">
									<p class="text">
										There are several ways to reduce a file that is too large. You can: <br>
										1) Use smaller margins <br>
										2) Use smaller fonts <br>
										3) Save file in recent Word version <br>
										4) If it is still too large you can save it on a PDF format

									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" id="headingelthirtyone">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#collapelthirtyone" aria-expanded="false" aria-controls="collapelthirtyone">
										<p>What makes a good CV and cover letter?</p>
										<i><img src="images/faq-icon.png" alt="">
										</i>
									</button>
								</h5>
							</div>
							<div id="collapelthirtyone" class="collapse" aria-labelledby="headingelthirtyone" data-parent="#accordion">
								<div class="card-body">
									<p class="text">
										Clicking on our create CV page will tell you what a good cover letter and CV should look like.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col-12 text-center">
					<p class="questionszz">Was this answer helpful?</p>
				</div>
			</div>
			<div class="row">
				<div class="col-12 d-flex justify-content-center align-items-center flex-column flex-md-row">
					<button class="btn-bluee mr-0 mr-md-2 mb-2 mb-md-0 ">Yes</button>
					<a href="contact-us.php" class="btn-red">No</a>
				</div>
			</div>
		</div>
	</section>
	<full-page-footer></full-page-footer>
	</div>
	
</template>
<script>
const FullPageFooter = () => import('../../components/FullPageFooter.vue');
const FullPageHeader = () => import('../../components/FullPageHeader.vue');
export default {
    created() {
    },
    components: {
        FullPageFooter,
        FullPageHeader,
    },
}
</script>