<template>
    <div>
        <register-header></register-header>
        <section class="create-cv">
            <div class="container">
                <div class="row mt-5 mb-2">
                    <div class="col-12 d-flex align-items-center justify-content-center top-head">
                        <p class="page-heading">View Profile</p>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <div class="card cv-create-card user-card">
                            <div class="user-top">
                                <router-link :to="{name: 'user.users.edit',params: {id: editProfile.id}}" class="edit_prof">Edit</router-link>
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <img :src="editProfile.image" alt=""
                                             class="user-avatar">
                                        <a href="#" data-toggle="modal" data-target="#change_password">Change
                                            Password</a>
                                        <p class="bio">{{editProfile.about_yourself}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header cv-header br-0 usr_p">
                                <p>Personal Information</p>
                                <p>User Id:001</p>
                            </div>
                            <div class="card-body cv-card-body">
                                <div class="form-row">
                                    <div class="col-lg-4 col-md-6 col-12">

                                        <div class="form-group">
                                            <label class="c-light">First Name</label>
                                            <p class="reg-p">{{editProfile.first_name}}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="form-group">
                                            <label class="c-light">Last Name</label>
                                            <p class="reg-p">{{editProfile.last_name}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="form-group">
                                            <label class="c-light">date of birth</label>
                                            <p class="reg-p">{{ formatDate(editProfile.dob)}}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-12">
                                        <div class="form-group">
                                            <label class="c-light">Email Address</label>
                                            <p class="reg-p">{{editProfile.email}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-12">
                                        <div class="usr-wrap">
                                            <router-link :to="{name: 'user.cvBiulder.view'}" class="usr-a cv">View CV</router-link>
                                            <router-link :to="{name: 'user.cvBiulder.edit'}" class="usr-a edit">edit CV</router-link>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="accordion">
                                <div class="card-header cv-header br-0 " id="headingOne" data-toggle="collapse"
                                     data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <p>Interest</p>
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                     data-parent="#accordion">
                                    <div class="card-body cv-card-body">
                                        <div class="form-row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <p class="reg-p">{{(editProfile.interest) ? editProfile.interest : 'No Interest found' }}</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                                <div class="card-header cv-header br-0 " id="card_two" data-toggle="collapse"
                                     data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    <p>My Documents</p>
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </div>

                                <div id="collapseTwo" class="collapse show" aria-labelledby="card_two"
                                     data-parent="#accordion">
                                    <div class="card-body cv-card-body">

                                        <div class="row">

                                            <div class="col-lg-4 col-md-4 col-12">
                                                <div class="dl_wrapper">
                                                    <label>Resumes</label>
                                                    <div class="inner-wrapper">
                                                        <button type="button" @click="download()" >
                                                            <img :src="`${base_url}/assets/user/images/download.png`"
                                                                 alt="" srcset="">
                                                            <p>Download <br> File</p>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="col-lg-4 col-md-4 col-12">
                                                <div class="dl_wrapper">
                                                    <label>Certification</label>
                                                    <div class="inner-wrapper">
                                                        <a href="">
                                                            <img :src="`${base_url}/assets/user/images/download.png`"
                                                                 alt="" srcset="">
                                                            <p>Download <br>File</p>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-12">
                                                <div class="dl_wrapper">
                                                    <label>PDF</label>
                                                    <div class="inner-wrapper">
                                                        <a href="">
                                                            <img :src="`${base_url}/assets/user/images/download.png`"
                                                                 alt="" srcset="">
                                                            <p>Download <br>File</p>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div> -->

                                        </div>

                                    </div>
                                </div>


                                <div class="card-header cv-header br-0 " id="card_three" data-toggle="collapse"
                                     data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                    <p>Address</p>
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </div>
                                <div id="collapseThree" class="collapse show" aria-labelledby="card_three"
                                     data-parent="#accordion">
                                    <div class="card-body cv-card-body">
                                        <div class="form-row">
                                            <div class="col-lg-4 col-md-6 col-12">

                                                <div class="form-group">
                                                    <label class="c-light">Address</label>
                                                    <p class="reg-p">{{editProfile.address}}</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-12">
                                                <div class="form-group">
                                                    <label class="c-light">Country</label>
                                                    <p class="reg-p">{{editProfile.country}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-lg-4 col-md-6 col-12">

                                                <div class="form-group">
                                                    <label class="c-light">State</label>
                                                    <p class="reg-p">{{editProfile.state}}</p>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-12">
                                                <div class="form-group">
                                                    <label class="c-light">City</label>
                                                    <p class="reg-p">{{editProfile.city}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-lg-4 col-md-6 col-12">

                                                <div class="form-group">
                                                    <label class="c-light">Zip Code</label>
                                                    <p class="reg-p">{{editProfile.zip_code}}</p>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </section>

        <!-- modal 3 -->
        <div class="modal fade" id="change_password" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content recovery">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-12 text-center">
                                <h4>Change Password</h4>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12">
                                <form action="">
                                    <div class="form-group mb-3 position-relative">
                                        <label for="pass-login">Current Password</label>
                                        <input type="password" class="form-control prof-input-login" id="pass-login"
                                               placeholder="*****">
                                        <button class="eye-pass">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="form-group mb-3 position-relative">
                                        <label for="pass-login">New Password</label>
                                        <input type="password" class="form-control prof-input-login" id="pass-login"
                                               placeholder="*****">
                                        <button class="eye-pass">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="form-group mb-3 position-relative">
                                        <label for="pass-login">Re-Type Password</label>
                                        <input type="password" class="form-control prof-input-login" id="pass-login"
                                               placeholder="*****">
                                        <button class="eye-pass">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12 text-center">
                                            <a href="" class="btn-profBlue">Update</a>

                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <inner-page-footer></inner-page-footer>
    </div>
</template>
<script>
const InnerPageFooter = () => import('../../components/InnerPageFooter.vue');
const RegisterHeader = () => import('../../components/RegisterHeader.vue');

export default {
    data() {
        return {
            editProfile: {}
        };
    },
    components: {
        InnerPageFooter,
        RegisterHeader,
    },
    async created() {
        await this.getProfile();
    },
    methods: {
        async getProfile() {
            this.editProfile = (await axios.get('/api/admin/getProfile')).data.data;
            localStorage.setItem('image', this.editProfile.image);
            console.log(this.editProfile);
        },
        async download(){
            let userId = localStorage.getItem('userId');
            let urlPath = `${window.base_url}/api/user/downloadReume/${userId}`;
            //alert(urlPath); 
            let form = document.createElement('form');
            form.setAttribute('method','GET');
            form.setAttribute('action', urlPath);
            document.body.appendChild(form);
            form.submit();
            // await axios.post(route('web.resume.download',template),{is_saved : 1});
          },
    }

}
</script>
